.adm_wrap {
  position: relative;
  display:inline-block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin-top:72px;
}  

#lnb {
  position: relative;
  float: left;
  width: 280px;
  height: 100%;
  min-height: 100%;;
  background-color: #2c2921;
  font-family: 'KBFGDisplayM' !important;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#lnb > ul > li { 
  border-bottom: 1px solid #504842;
}
#lnb > ul > li > a {
  display: block;
  padding: 18px 24px 18px 48px; 
  color: inherit; 
  font-family: 'KBFGDisplayM' !important;
  font-size: 16px;
  background:#2c2921 url('../../images/admin_2dep_arrow.png') no-repeat 90% 15px;
}
#lnb > ul > li a:hover {color: #ffbc00; }
#lnb > ul > li.on > a {
  color: #FF9D00; 
  background: #2c2921 url('../../images/admin_3dep_arrow.png') no-repeat 90% 15px;
}
#lnb > ul > li ul {display: block; background: #504842;}
#lnb > ul > li > ul > li > a {
  display: block;
  font-family: 'KBFGDisplayM' !important;
  padding: 14px 25px 14px 48px;
  color: inherit; 
  font-size: 14px;
  background: #504842;    
}
#lnb > ul > li > ul > li > a:hover {
  color: #ffbc00; 
  text-decoration: underline;
}  
#lnb > ul > li > ul > li .router-link-active {
  color: #ffbc00; 
  text-decoration: none;
  background-color: #79706d;
}
#lnb > ul > li > ul > li.on a {
  color: #FF9D00; 
}
#lnb > ul > li > ul li ul {
  display: none;
  padding-bottom: 8px;
  background-color: #f5f2ec;
}
#lnb > ul > li > ul li li a {
  display: block;
  padding: 0 25px 10px 22px; 
  color: #666; 
  font-family: 'KBFGDisplayM' !important;
  font-size: 14px;
  background-color: #f5f2ec;
}
#lnb > ul > li > ul > li li a:hover {color: #ffbc00;}
#lnb > ul li.noDepth a {background-image: none !important; }
  
  
.adm_contents {
  position: relative;
  display: inline-block;
  background-color: #F4F3F2;
  width: calc(100% -280px);
  width: -moz-calc(100% - 280px);
  width: -webkit-calc(100% - 280px);
  height: 100%;
  min-height: 100%;
}
.adm_contents .inner { 
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 32px 40px;
  padding-right: 162px;
}
.adm_contents .inner h5 {  
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.adm_contents .inner h5 p {
  font-size: 16px;
  font-weight: normal;
}

/*항목이3개일때*/
.adm-search {
  display: inline-block;
  width: 100%;
  min-height: 104px;
  padding: 32px;
  background-color: #fff;
}
.adm-search ul {float:left; clear: both; min-width: 100%;}
.adm-search ul li {float:left; margin-left:50px; width:27.15%}
.adm-search ul li:first-child {margin-left:0;}
.adm-search ul li:last-child {float:right; margin-left:32px; width:7.05%}
.adm-search ul li label {float:left; width:23.5%; min-width: 121px; margin-right: 16px; line-height: 46px; font-family:'KBFGTextM'; font-size: 14px;  }
.adm-search ul li label span {display:inline-block; color:#dd3300; font-size:11px; font-weight: normal; line-height:14px; margin-left:8px; }

.adm-search ul li .v-select {margin-top: 5px; width:54.5%; }
.adm-search ul li .v-text-field {margin-top: 5px; width:57.5%; }
.adm-search ul li button {margin:0px !important;}

/*.adm-search label {float:left;}*/

/*항목이2개일때*/
.adm-search-2 {
  display: inline-block;
  width: 100%;
  min-height: 104px;
  padding: 32px;
  background-color: #fff;
}
.adm-search-2 ul {float:left; clear: both; min-width: 100%;}
.adm-search-2 ul li {float:left; margin-left:50px; width:38.33%}
.adm-search-2 ul li:first-child {margin-left:0;}
.adm-search-2 ul li:last-child {float:right; margin-left:32px; width:15.33%;text-align: right;}
.adm-search-2 ul li label {float:left; width:23.5%; min-width: 121px; margin-right: 16px; line-height: 46px; font-family:'KBFGTextM'; font-size: 14px;  }
.adm-search-2 ul li label span {display:inline-block; color:#dd3300; font-size:11px; font-weight: normal; line-height:14px; margin-left:8px; }

.adm-search-2 ul li .v-select {margin-top: 5px; width:65.5%; }
.adm-search-2 ul li .v-text-field {margin-top: 5px; width:65.5%; }
.adm-search-2 ul li button {margin:0px 4px !important;}


.label_txt {
  float: left;
  min-width: 80px;
  max-height: 40px;
  font-family: 'KBFGTextM';
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
}

.checkgroup {
  display: flex;  
}
.v-label {
  margin-right: 20px;
}
.v-input--selection-controls.v-input {
  width: auto !important;
  max-width: auto !important;
  float: none;
}

.item_box {
  display: inline-block;
  clear: both;
  width: 100%;
  padding: 32px;
  background-color: #fff;
  margin-bottom: 24px;
}
.item_box .tit {float: left;}
.item_box .tit h5 {
  font-family: 'KBFGTextM';
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  min-height: 39px;
}
.item_box .tit p {float:left; font-family: 'KBFGTextM'; font-size: 14px; margin-bottom: 8px;}
.item_box .tit span {color:#f26615; }
.item_box .btn {float:right; margin-top: 0;}
.item_box .btn button {margin: 0; margin-bottom: 12px !important;}

.item_box .search_item {
  float: right; 
  display: inline-block
}
.item_box .search_item .v-text-field--enclosed .v-input__append-inner {
  margin-top: 7px !important;
}
.item_box .box1 {
  float: left;
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background: #fff;
  padding: 32px;
  text-align: center;
}
.item_box .box1 div {
  float:left;
  width: 33.33%;
  text-align: center;
}
.item_box .box1 div h4 {
  font-weight: 600;
}
.item_box .box1 div h4 span {
  font-family: 'KBFGDisplayL';
  font-size: 24px;
  font-weight: normal;
}

.item_box .box3 {
  float: left;
  width: 32.33%;
  margin-right: 1.5%;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background: #fff;
  padding: 32px;
  text-align: center;
}
.item_box .box3 h4 {font-weight: 600;}
.item_box .box3 span.txt {
  float: right; 
  padding-top: 20px;
  color:#757575;
}
.item_box .box3 .chart {
  width:100%;
  margin: 10px 0;
}


.table_box {clear:both; width: 100%;}
.table_box .state {max-width: 100px !important;}
.table_box .more_view {
  margin-top:30px;
  padding:30px;
  border:1px solid #d8d8d8;
  border-radius: 4px;
}
.table_box .more_view p {font-size: 16px; font-weight: 600;}
/*입력테이블상의 append-outer v-btn*/
.table_box table td .v-input__append-outer {
  margin-top: 0 !important;
}
.v-application--is-ltr .v-input__append-outer 
{
  margin-left: 0 !important;
}
/*자료실관리 버전 등록시*/
.ver_txt {
  float: left;
  padding: 7px 0 !important;
  margin-left: 16px !important;
}

.paging {
  clear: both;
  margin-top: 24px;
}

.btn_area {
  margin: 8px 0;
  display: inline-block;
  width:100%; 
}
.btn_area button {margin: 0 5px !important; }
.mg_L0 {margin-left:0 !important;} /*leftmargin*/

.v-input--radio-group--row .v-input--radio-group__input {
  flex-direction: row;
  flex-wrap: inherit !important; 
}
.v-input--selection-controls .v-radio > .v-label {
  min-width: 0 !important;
}

.info_txt {
  display: inline-block;
  background: #f4f3f2;
  padding: 32px;
  font-family: 'KBFGTextM';
  width: 100%;
}
.info_txt p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}
.info_txt span {}
.info_txt span ul li {
  font-size: 14px;
  line-height: 28px;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  background: #fff;
}
.v-text-field.v-text-field--enclosed.v-text-field--single-line .v-text-field__prefix, .v-text-field.v-text-field--enclosed.v-text-field--single-line .v-text-field__suffix {
  color:#757575;
}

.adm-search .v-select__slot .v-icon.v-icon {margin-top: -17px !important;} 
.v-select.v-text-field--outlined:not(.v-text-field--single-line) .v-select__selections {
  padding:0 !important;
}
/*메뉴관리*/
.menu_box {

}
.menu_lst {
  float:left; 
  min-width: 400px;
  max-width: 400px;
  background: #fff;
  padding: 32px;
  margin-right:24px;
  height: 100%;
  min-height: 900px;
}
.menu_view {
  float:left; 
  position: absolute;
  background: #fff;
  padding: 32px;  
  left: 420px;
  width: calc(100% -420px);
  width: -moz-calc(100% - 420px);
  width: -webkit-calc(100% - 420px);
  height: 100%;
  min-height: 900px;
}

.list_select {
  float:left;
  font-family: 'KBFGTextM' !important;
  width: 120px !important;
  margin-top: -9px !important;
  margin-left: 30px !important;
  padding-top:0 !important;
}
.list_select .v-input__control {
}
.list_select .v-select__selections {
  min-height: 0 !important;
}
.list_select .v-text-field input {
  font-size: 12px !important;
  padding: 0 !important;
  border:0 !important;
}
.list_select .v-select__slot .v-label {font-size: 12px !important; color:#504842}
.list_select .v-select .v-list-item__title  {font-size: 12px !important; color:#504842}
.list_select.v-text-field>.v-input__control>.v-input__slot:before {
  border-style: none;
}
.list_select.v-text-field>.v-input__control>.v-input__slot:after {
  border-style: none;
}
.item_box .tit .list_select span {color: rgba(0, 0, 0, 0.54) !important;}
/*
.list_select .v-text-field {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.list_select .v-input {font-size: 12px !important;}
.list_selcet .v-text-field .v-label {font-size: 12px !important;}


*/

.fileinput {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.dropZone {
  width: 100%;
  height: 100px;
  position: relative;
  border: 1px solid #504842;
  border-radius: 4px;
  margin-top: 5px;
}

.dropZone:hover {
  border: 1px solid #ffbc00;
}

.dropZone:hover .dropZone-title {
  color: #504842;
}

.dropZone-info {
  color: #A8A8A8;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}

.dropZone-title {
  color: #787878;
}

.dropZone input {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.dropZone-upload-limit-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.dropZone-over {
  background: #5C5C5C;
  opacity: 0.8;
}

.dropZone-uploaded {
  width: 100%;
  height: 100px;
  position: relative;
  border: 1px solid #504842;
  border-radius: 4px;
  margin-top: 5px;
}
.dropZone-uploaded-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A8A8A8;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
  text-align: center;
}

.removeFile {
  width: 20px;
  margin: 0 !important;
}
.filesize-info {
  display: inline-block;
  float: right;
  font-size: 14px;
  color:#504842;
}
.filesize-info span {
  color: #dd3300;
  font-weight: 600;
}

table .fileupload-list {
  width: 96%;
}
table .fileupload-list th {
  max-height: 24px;
  min-height: 24px !important;
  text-align: center;
  padding: 5px !important;
  line-height: 18px;
  font-size: 14px;
}
table .fileupload-list td {
  height: 24px !important;
  max-height: 24px;
  min-height: 24px !important;
  text-align: left;
  padding: 5px !important;
  line-height: 18px;
  font-size: 14px;
}

.v-application .text-subtitle-1 {
  font-family: 'KBFGDisplayL' !important;
  margin-bottom: 30px;
}


/*treeview menu*/
.v-treeview-node__root::before {
  background-color: #241e5f !important;
}
.v-treeview-node__content {
	min-height: 40px;
	border: 1px solid #473EAB;
  border-radius: 4px;
	padding-left: 15px;
}
.menu_view .v-treeview-node__root .v-treeview-node--active .primary--text {
	color: #069cf3 !important;
	caret-color: #069cf3 !important;
}

.v-treeview-node__label {
  font-size: 14px !important;
  color: #473EAB;
}


/*chart*/
.adm-chart {
  display: inline-block;
  width: 100%;
}
.adm-chart .chart_wrap {
  float: left;
  width: 100%;  
  padding: 32px;
  background: #fff;
}
.chart_wrap .chart_01 {
  float: left;
  width: 49%;
  margin-right: 1%;
}
.chart_wrap .chart_02 {
  float: left;
  width: 50%;
}
.chart {
  display: inline-block;
  width: 100%;
  min-height: auto;  
}
.chart .chart_view {
  float: left;
}
.chart .chart_info {
  float: left;
  width: 200px;
  margin: 60px 15px;
}
.chart .chart_info p {
  font-size: 13px;
}
.chart .chart_info ul li {
  line-height: 24px;
  font-size: 13px;
}
.chart-color {
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-right: 8px;  
  margin-top: 4px;
}
.chart_info p {
  padding: 15px 0;
  font-weight: 600;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 15px !important;
}
.chart_info span.tot {
  float: right;
  font-weight: 600;
}

@media (max-width:1600px) { 
  .adm-search {
    display: inline-block;
    width: 100%;
    max-width: 100%;  
    padding: 32px 32px 16px 32px;    
  }
  .adm-search ul li {width: 26.7%;}
  .btn_area {max-width:1100px;}
  .adm-search ul li .v-text-field {width: 100%;}
  .adm-search ul li:last-child {margin-left:0; margin-top:32px; width:8.05%;}
  .v-select {max-width: 100% !important;}    
  .mg_L0 {margin-left:4px !important; margin-top:33px;}
}
/*
@media (min-width: 1264px) {
  .container {
    max-width: 100% !important;
    }
}*/