@charset "utf-8";

@import "reset.css";
@import "font.css";
@import "admin.css";


/*메인*/
#header {
  position: fixed;
  padding: 0 1.5rem; /*padding 확인*/
  width: 100%; 
  height: 72px;
  background: #1E1909;
  z-index: 10;
}

#header .container {max-width: 1440px; margin: 0 auto;}
#header .container h1 {float: left; margin-top: -10px; line-height: 72px;}
.gnbWrap {float: right; width: 100%; max-width: 1020px;}
.gnbWrap:after {clear: both; display: block; content: "";}
#gnb {
  float: left; 
  display: inline-block; 
  width: 100%; 
  max-width: 620px;
}
#gnb .dep01 {display: table; width: 100%; margin: 0 auto;}
#gnb .dep01 > li {display: table-cell;}
#gnb .dep01 > li > a {
  display: block; 
  height: 4.5rem; 
  line-height: 4.5rem; 
  text-align: center;
  font-family: 'KBFGDisplayL'; 
  font-size: 18px; 
  font-weight: 600; 
  color: #fff;
}
#gnb .dep01 > li > a span {
  position: relative; 
  display: inline-block; 
  height: 4.5rem; 
  line-height: 4.5rem; 
  z-index: 3;
}
#gnb .dep01 .subMn {
  position: absolute; 
  left: 0; 
  top: 4.5rem; 
  display: none; 
  width: 100%; 
  border-top: 1px solid #e5e5e5; 
  border-bottom: 1px solid #e5e5e5; 
  z-index: 2;
}
#gnb .dep01 .subMn:before {position: absolute; top: 0; left: 50%; margin-left: -500%; width: 1000%; height: 100%; background-color: #fff; transition: all .2s .1s; -webkit-transition: all .2s .1s; content: "";}
#gnb .dep01 .subMn:after {position: absolute; top: 0; left: -100%; margin-left: 30%; width: 100%; height: 100%; background-color: #fff; transition: all .2s .1s; -webkit-transition: all .2s .1s; content: "";}
#gnb .dep01 .subMn > .title {position: relative; display: table-cell; padding: 3.5rem 4rem; padding-left:10.5rem; width: 30%; vertical-align: top; text-align: left; color: #1e1909; z-index: 1;}
#gnb .dep01 .subMn > .title .inner {display: inline-block; max-width: 85%; text-align: left;}
#gnb .dep01 .subMn > .title strong {position: relative; display: block; margin-bottom: 16px; font-family: 'KBFGDisplayM'; font-size: 36px; font-weight: normal; }
#gnb .dep01 .subMn > .title span {display: block; font-family: 'KBFGTextM'; font-size: 14px; line-height: 24px; }
#gnb .dep02 {position: relative; padding: 3rem ;}
#gnb .dep02:after {clear: both; display: block; content: "";}
#gnb .dep02 > li {float: left; margin-left: 1.5rem; padding-bottom: 0.55rem; width: 10rem;}
#gnb .dep02 > li.child {min-height: 9.5rem; }
#gnb .dep02 > li:nth-of-type(4n+1) {clear: both; margin-left: 0;}
#gnb .dep02 > li:nth-of-type(n+5) {margin-top: 2rem;}
#gnb .dep02 > li > a {position: relative; display: block; padding: 0 0.55rem; width: 100%; height: 2.75rem; line-height: 2.75rem; font-family: 'KBFGDisplayM'; font-size: 18pxm; font-weight: 600; color: #1e1909; transition: all .3s; -webkit-transition: all .3s;}
#gnb .dep02 > li.child > a:after {position: absolute; top: 50%; right: 1rem; margin-top: -11px; width: 22px; height: 22px; line-height: 20px; text-align: center; font-family: 'KBFGDisplayM'; color: #606060; content: "\e943";}
#gnb .dep02 > li > a:hover {color: #ffbc00;}
#gnb .dep02 > li > a:hover:after {color: #ffbc00;}
#gnb .dep03 {position: relative; margin-top: 0.75rem;}
#gnb .dep03 > li + li {margin-top: 0.25rem;}
#gnb .dep03 > li > a {position: relative; display: block; padding-left: 1.5rem; font-size: 0.75rem; color: #222;}
#gnb .dep03 > li > a:before {position: absolute; top: 0.4rem; left: 1rem; width: 4px; height: 4px; background-color: #ffbc00; border-radius: 50%; content: "";}
#gnb .dep03 > li > a:hover {font-weight: 400; color: #ffbc00; text-decoration: underline;}
/* DEPTH2 active */
#gnb .dep01 > li > a:hover,
#gnb .dep01 > li.active > a { color: #ffbc00; transition: all .2s; -webkit-transition: all .2s;}
#gnb .dep01 > li > a span:after {position: absolute; bottom: -3px; left: 0; width: 0; height: 7px; background: #ffbc00; content: "";}
#gnb .dep01 > li > a:hover span:after,
#gnb .dep01 > li.active > a span:after {left: 50%; margin-left: -16px; width: 34px; color: #ffbc00; transition: all .2s; -webkit-transition: all .2s;}
#gnb .dep01 > li.active .subMn {display: table; transition: all .2s .1s; -webkit-transition: all .2s .1s;}

/* topLink */
.topLink {float: right; display: inline-block; padding: 0.8rem 0;}
.topLink a:hover i, 
.topLink a:focus i,
.topLink a:hover, 
.topLink a:focus {color: #5a5a5a; text-decoration: none;}

.topLink ul {float: left; display: inline-block; /*margin-left: 30px;*/}
.topLink ul li {position: relative; float: left; display: inline-block; margin-right:24px; }
.topLink ul li.search {margin-right:0;}
.topLink ul li.search button.srch {
  margin: 0 !important;
  width: 32px !important;
  min-width: 32px;
  height: 32px;
  background: url(../../images/icon_search.png) center center no-repeat;
}
.blind {display: none;}

/*search 클릭시 검색 화면 view*/
.popup-wrap{
  background-color:rgba(0,0,0,.3);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  padding:0;
  z-index: 12;
}
.popup{
  width:100%;
  max-width:100%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color:#ffffff;
  border-radius:2px;
  overflow:hidden;
  /*box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);*/
}
.popup-head{
  width:100%;
  margin: 0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-top: 180px;
  padding-bottom: 40px;
}
.popup-head h1 {
  font-size:56px; 
  line-height:60px; 
  font-weight: 600;
  color:#1e1909;
}
.head-title {
    font-size: 38px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -3px;
    text-align: center;
}
.popup-body {
  position: relative;
  display: inline-block;
  width:100%;
}
.body-content{
  position: relative;
  width: 720px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.search-area {
  margin-bottom: 32px;
}
.search-area .v-text-field input {
  flex: 1 1 auto;
  font-size: 22px !important;
  line-height: 22px !important;
  padding: 22px 6px !important;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
}
.search-area .v-text-field input label {
  line-height: 42px !important;
}
.v-text-field .v-label {min-height: 0 !important;}

.keyword {
  display: inline-block;
  max-width: 720px;
}
.keyword .inner {
  display: inline-block;
  position: relative;
  margin:0 auto;
}

.keyword .inner div.tit {
  float:left;
  font-family: 'KBFGDisplayM' ;
  font-size: 16px;
  font-weight: 600;
  color: #1e1909;
  margin-right: 24px; 
  margin-top: 10px;
  min-height: 80px;
}
.keyword .inner div.tag {
  max-width: 615px;  
  max-height: 90px;
  text-align: left;
  overflow: hidden;
}
.keyword .inner div.tag span {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  padding: 7px 12px;
  font-family: 'KBFGTextM';
  font-size: 14px;
  color: #4d4d4d;
  margin: 4px;
  text-align: center;
}
.body-titlebox{
  text-align:center;
  width:100%;
  height:40px;
  margin-bottom:10px;
}
.body-contentbox{
  word-break:break-word;
  overflow-y:auto;
  min-height:100px;
  max-height:200px;
}
.popup-close {
  float: right;
  width: 40px;
  height: 40px;
  display: inline-block;
  right: 0;
}
.popup-foot{
  width:100%;
  height:50px;
}
.pop-btn{
  display:inline-flex;
  width:40px;
  height:40px;
  float:left;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  background: url(../../images/com_icon_close.png) center center no-repeat;
}
.pop-btn.confirm{
  border-right:1px solid #3b5fbf;
}

.topLink .mybtn a.on {position: relative; display: inline-block; }
.topLink .mybtn a.on:after {position: absolute; top: 0; right: 0; }
.topLink .mybtn button {margin:0 !important;}
.topLink .mybtn .mymenu {
  display: none;
  position: absolute; 
  left: -50px;
  width: 176px;
  height: 253px;
  background: url(../../images/com_mymenu_bg.png) top center no-repeat;
}
.topLink .mybtn .mymenu ul {
 padding: 30px 10px;
}
.topLink .mybtn .mymenu ul li {
  font-family: 'KBFGDisplayM';
  font-size: 14px;
  color: #1e1909;
  text-align: left;
  line-height: 39px;
  width: 100%;
  padding-left: 22px;
  cursor: pointer;
}
.topLink .mybtn .mymenu ul li:hover {
  background: #efe5d8;
}
.topLink .mybtn .mymenu ul li a, a:hover, a:active {
  /*color: #1e1909 !important;*/
  text-decoration: none;
}
.topLink .profile .view {
  display: none;
  position: absolute; 
  left: -87px;    
  width: 210px; 
  height: 300px; 
  background: url(../../images/com_profile_bg.png) top center no-repeat; 
}

.topLink .profile .view .proimg {
  position: relative;
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 16px;
}
.topLink .profile .view .proimg span.edit {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 48px;
  left: 48px;
  background: url(../../images/com_profile_edit.png) center center no-repeat;
}
.topLink .profile .view .name {
  position: relative;
  margin: 0 auto;
  width: 180px;
  text-align: center;
}
.topLink .profile .view .name > ul {
  margin:0 auto;
  margin-bottom: 16px;
  text-align: center;
}
.topLink .profile .view .name > ul li {
  clear: both;
  font-family: 'KBFGDisplayM';
  font-size: 18px;
  font-weight: 600;
  color: #1e1909;
  width: 180px;
  text-align: center;
  margin: 0 !important;
}
.topLink .profile .view .name > ul li:last-child {
  font-family: 'KBFGDisplayL'; 
  font-size: 12px;
  font-weight: normal;
  color: #757575;
  margin:0 !important;
}
.topLink .profile .view .name > ul li span:after {
  content: ' \007C';
  margin: 0 5px;
  color: #757575;
  }
.topLink .profile .view .name button {
  margin:0 !important;
  width: 144px;
  border: 1px solid #d8d8d8;
  font-weight: 600;
  color: #231e10;
}
.topLink .profile .view .logoutbtn {
  position: absolute;
  margin: 0 auto;
  width: 192px;
  height: 40px;
  left: 9px;
  bottom: 13px;
  text-align: center;
  background: #f4f3f2;
  border-top:1px solid #e6e6e6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.topLink .profile .view .logoutbtn button {
  margin: 0 auto;
  font-size: 12px;
}W


.topLink .linklst > li.lang {padding-right: 1.75rem;}
.topLink .linklst > li.lang:before {position: absolute; top: 0; right: 0.5rem; }
.topLink .linklst > li.lang .lst {position: absolute; left: 0;  display: none; padding: 0.5rem 0.75rem; width: 100%; background: #fff; border: 1px solid #333; z-index: 2;}
.topLink .linklst > li.lang .lst li {text-align: left; padding: 0.25rem 0; line-height: 1.2;}
.topLink .linklst > li.lang .lst a {position: relative; display: block; padding-right: 0.5rem;}
.topLink .linklst > li.lang .lst a:before {position: absolute; right: 0; top: -1px; ;}
.topLink .linklst > li.lang .lst a:hover:before, 
.topLink .linklst > li.lang .lst a:focus:before {right: -0.25rem; color: #ffbc00;}
.topLink .linklst > li.lang.active:before {transform: rotate(180deg); -webkit-transform: rotate(180deg);}
.topLink .linklst > li.lang.active .lst {display: block;}
.topLink .btnSrch {display: inline-block; font-size: 1.25rem;}
.topLink .fullmenu {display: inline-block; margin-top: 1.6rem; width: 1.25rem; line-height: normal; font-size: 0; overflow: hidden;}
.topLink .fullmenu span {display: inline-block; width: 100%; height: 1px; background: #000;}
.topLink .fullmenu span + span {margin-top: 0.35rem;}
.topLink .fullmenu span:nth-child(2) {width: 80%;}
.topLink .fullmenu:hover span, 
.topLink .fullmenu:focus span {background: #ffbc00; width: 100%;}

/* search Full */
.searchFull {position: absolute; top: 4.5rem; left: 0; display: none; padding: 2rem 0; width: 100%; height: 11rem; line-height: 1.6; text-align: center; color: #fff; background: #546873; z-index: 10;}
.searchFull h3 {font-size: 1.6rem; letter-spacing: -2px;}
.searchFull .srchForm {position: relative; width: 95%; max-width: 50rem; margin: 1.5rem auto; background: #fff; padding-right: 3rem; padding-left: 0.5rem;}
.searchFull .srchForm input {width: 100%; height: 3rem; line-height: 3rem; color: #333; border: 0;}
.searchFull .srchForm input::-webkit-input-placeholder {color: #666; font-weight: 200;}
.searchFull .srchForm input:-ms-input-placeholder {color: #666; font-weight: 200;}
.searchFull .srchForm input::-ms-input-placeholder {color: #666; font-weight: 200;}
.searchFull .srchForm input::placeholder {color: #666; font-weight: 200;}
.searchFull .btnSrch {width: 3rem; height: 3rem; position: absolute; right: 0; top: 0; color: #333;}
.searchFull .btnSrch:hover, 
.searchFull .btnSrch:focus {color: #ffbc00;}
.searchFull .btnSrch i {font-size: 1.5rem; line-height: 3rem; vertical-align: top;}
.searchFull .keyword {text-align: center;}
.searchFull .keyword a {font-size: 0.9rem; display: inline-block; margin-right: 1.5rem;}
.searchFull .keyword a:hover {text-decoration: underline;}
.searchFull .btnClose {position: absolute; right: 0; top: 0; width: 4.5rem; height: 4.5rem; line-height: 4.3rem; font-weight: 200; background: #2b3849; color: #fff; font-size: 2.6rem;}
.searchFull .btnClose:hover, 
.searchFull .btnClose:focus {background: #ffbc00;}



/*systembar*/
.v-system-bar {
  align-items: center;
  display: flex;  
  padding: 0;
}
.v-system-bar .conts {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.v-system-bar .conts span {
  float: left;
  font-family: 'KBFGTextM' !important;
  font-size: 18px !important;
  color:#fff;
  text-align: center;
  margin: 0 auto;
} 

.v-system-bar .conts span.util {
  position: absolute;
  right: 0;
  margin-top: 15px;
} 

.v-system-bar .conts span.util .v-input {
  float:left;
  margin: 0 10px;  
}
.v-system-bar .conts span.util .v-input--selection-controls {
  margin-top: 4px;
  padding-top: 0;
}

.v-system-bar .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
  color:#fff;
}
.v-system-bar .conts span.util button { 
  float: left; 
  padding: 0;
  height: 30px;
  min-width: 30px;
  margin: 0 5px;
}





 





#app {
  font-family: "KBFGTextM";
}
.v-application {
  font-family: "KBFGTextM";
}
.v-application ul {
  padding-left: 0;
}
.v-application p {
  margin-bottom: 0;
}
.v-application a {
  color: inherit;
}

body {
  font-family: "KBFGTextM";
  font-size: 16px;
  font-weight: normal;
  line-height: 42px;
  color: #1e1909;
  background: #f4f3f2;
}

div {
  font-family: "KBFGTextM";
}




/*main*/
#main {
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #F4F3F2;
}

/*visual*/
#visual {
  position: relative;  
  display: inline-block;
  width: 100%;
  min-height: 720px;
  /*margin-top: -72px;*/
  background: url('../../images/main_bg.png') center center no-repeat;
  background-size: cover;   
  text-align: center;
}
#visual .inner {
  width:1440px;
  margin:0 auto;
  display: inline-block;
}
#visual .inner .txt {
  width: 649px;
  height: 226px;
  margin-top: 225px; 
  color:#fff !important;
  text-align: left;;
}
#visual .inner .txt p {
  font-family: 'KBFGTextL';
  font-size: 22px !important;
  margin-top: 34px !important;
  color:#fff !important;
}

.my_what {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 360px;
  margin: 120px auto;
}
.my_what > .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.my_what > .inner .txt {
  width: 500px;
  float: left;
  margin-right: 68px;
}
.my_what > .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_what > .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}

.my_what > .inner .slider {
  float: left;
  width: 872px;
  height: 388px;
  overflow: hidden;
}
.my_what > .inner ul li {
  display: inline-block;
}
.my_what > .inner .slider div.bg_box {
  position: relative;
  width: 872px;
  height: 320px;
  background: #fff;
  border-radius: 4px;
  padding: 56px;
  margin-bottom: 65px;
}
.my_what > .inner .slider div.bg_box .txt {
  float:left;
  width: 341px;
}

.my_what > .inner .slider div.bg_box .txt p {
  font-family: 'KBFGDisplayM';
  font-size: 32px;
  font-weight: 600;
  line-height: 26px;
  color:#1e1909;
  margin-bottom: 24px;
}
.my_what > .inner .slider div.bg_box .txt span {
  font-family: 'KBFGTextM';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color:#757575;
}
.my_what > .inner .slider div.bg_box .img {
  position:absolute;
  right:0;
  margin-right: 58px;
  margin-top: 30px;
}


/**/
.section04 .container {position: relative; height: 14rem;}
.section04 .container:before {position: absolute; bottom: -2rem; right: -6rem; content: url("/images/template/00002/main/section042Bg.png"); transform: scale(0); -webkit-transform: scale(0); transition: all .3s .1s; -webkit-transition: all .3s .1s;}
.section04 .MC_box1 {position: relative; float: left; padding: 3.5rem 1.5rem 1.5rem 0; width: 14.5rem; height: 100%;}
.section04 .MC_box1:before {position: absolute; top: 0; right: 0; width: 0; height: 100%; background: #007bc7 url("/images/template/00002/main/section04Bg.png") no-repeat bottom right; box-shadow: 10px 10px 10px rgba(0,21,130,0.1); content: ""; z-index: -1;}
.section04 .MC_box1 h3 {color: #fff;}
.section04 .MC_box1 p {font-family: 'NotoSans';}
.section04 .MC_box1 h3 + p {margin-top: 0.5rem; line-height: 1.5; color: #97c9e7;}
.section04 .MC_box1 h3 + p + p {margin-top: 2rem; text-align: right;}
.section04 .MC_box1 h3 + p + p a {display: inline-block; width: 100%; max-width: 11rem; height: 2.5rem; line-height: 2.5rem; text-align: center; font-weight: 200; color: #fff;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#017cc7+0,3395d2+100 */
background: rgb(1,124,199); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(1,124,199,1) 0%, rgba(51,149,210,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017cc7', endColorstr='#3395d2',GradientType=1 ); /* IE6-9 */
}
.section04 .MC_box2 {float: left; margin-left: 1.5rem; width: calc(100% - 16rem); overflow: hidden;}
#slide04 {width: 100%;}
#slide04:after {clear: both; display: block; width: 100%; content: "";}
#slide04 .slideEl {float: left; margin-left: 1rem;}
#slide04 .slideEl a {position: relative; display: block; padding: 1.5rem; height: 10rem; background: #fff; border: 1px solid #d2d2d2;}
#slide04 .slideEl.slick-current.slick-active a,
#slide04 .slideEl a:hover {border: 1px solid; border-image-slice: 1; border-image-source: linear-gradient(to left, #28acc4, #1d2088); box-shadow: 3px 3px 7px rgba(0,21,130,0.35);}
#slide04 .slideEl .tag {display: inline-block; padding: 0 1rem; height: 1.8rem; line-height: 1.8rem; font-size: 0.7rem; color: #fff; overflow: hidden;}
#slide04 .slideEl .more {position: absolute; top: 1.5rem; right: 1.5rem; width: 1rem; height: 1rem; line-height: 1rem; text-align: center; font-size: 1.5rem; color: #000;}
#slide04 .slideEl .tag.type1 {background: #007bc7;}
#slide04 .slideEl .tag.type2 {background: #aacd06;}
#slide04 .slideEl .tag.type3 {background: #1d2088;}
#slide04 .slideEl .tit {margin-top: 0.5rem; height: 2.5rem; line-height: 1.25rem; font-weight: 400; color: #000; overflow: hidden;}
#slide04 .slideEl .txt {margin-top: 0.75rem; height: 1rem; line-height: 1rem; font-size: 0.7rem; color: #6e6e6e; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#slide04 .slick-dots {display: none !important;}
.section04 .MC_box2 .control {margin-top: 1rem; width: 100%; text-align: center;}
.section04 .MC_box2 .control button {display: inline-block; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; color: #fff; background: #95a3b7; border-radius: 50%;}
.section04 .MC_box2 .control #slide04Play {display: none;}
.section04 .MC_box2 .pagingInfo {display: inline-block; width: 4rem; height: 2rem; font-family: 'Sora'; font-size: 0.8rem; font-weight: normal; color: #95a3b7;}
.section04 .MC_box2 .pagingInfo em {display: inline-block;}
.section04 .MC_box2 .pagingInfo .now {font-weight: 600; color: #007bc7;}
.section04 .MC_box2 .pagingInfo .total {position: relative; padding-left: 1rem;}
.section04 .MC_box2 .pagingInfo .total:before {position: absolute; top: 50%; left: 0.5rem; width: 1px; height: 15px; background: #95a3b7; transform: translateY(-50%) rotate(25deg); -webkit-transform: translateY(-50%) rotate(25deg); content: "";}
/* active */
.section04.action .container:before {transform: scale(1) rotate(180deg); -webkit-transform: scale(1) rotate(180deg);}
.section04.action .MC_box1:before {width: 300%; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;}

/**/

/*bxslider*/
.bx-wrapper { 
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;  
  border: 0; 
 }


.my_how {
  position: relative;
  width: 100%;
  display: inline-block;  
  background: #fff;
  min-height: 704px;
  padding:80px 0;
}
.my_how .inner {
  max-width: 1440px;
  margin: 0 auto; 
   
}
.my_how .inner .txt {
  float:left;
  width: 310px;
}
.my_how .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_how .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}
.my_how .inner .img {
  position: absolute;
  display: block;
  height: 385px;
  width: 1140px;
  overflow: hidden;
  background: url('../../images/main_illust_04.png') no-repeat;
  margin-left: 310px;
  margin-top: 120px;
}
.my_how .inner .txt div {
  clear: both;
  margin-top: 50px !important;
}
.my_how .inner .txt div button {
  margin:0 !important;
  padding:0 !important;
  font-size: 16px !important;
}


.my_start {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 120px 0;
}
.my_start .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.my_start .inner .txt {
  width: 330px;
  float: left;
  margin-right: 158px;
}
.my_start .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_start .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.5px;
}
.my_start .inner .boxitem {
  float: left;
  display: inline-block;
}
.my_start .inner .boxitem .box {
  width: 464px;
  height: 516px;
  background: #fff;
  border-radius: 4px;
}
.my_start .inner .boxitem .box .img1 {
  background: url(../../images/main_img_begin.png) left center no-repeat;
  width: 464px;
  height: 304px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.my_start .inner .boxitem .box .img2 {
  background: url(../../images/main_img_mater.png) left center no-repeat;
  width: 464px;
  height: 304px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}
.my_start .inner .boxitem ul li {
  float: left;
  margin-right:24px;
}
.my_start .inner .boxitem ul li:last-child {
  margin-right: 0;
}

.my_start .inner .boxitem .box .text {
  display: inline-block;
  padding:40px;
}
.my_start .inner .boxitem .box .text p {
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  color:#1e1909;
}
.my_start .inner .boxitem .box .text span {
  display: inline-block;
  font-family: 'KBFGTextM';
  font-size: 16px;
  color:#757575;
  padding: 10px 0 20px;
}
.my_start .inner .boxitem .box .text .tag {
  font-family: 'KBFGTextM';
  font-size: 14px;
  line-height: 26px;
  color:#504842;
}
.banr {
  position: absolute;
  width: 100%;
  margin-top:-80px;
}
.banr .inner  {
  width: 1440px;
  min-height: 217px;
  margin: 0 auto;    
  background: #504842;
  border-radius: 4px;
  color:#fff;   
  padding:75px 80px;
}
.banr .inner  div {
  float: left;
}
.banr .inner .title {  
  padding-left:110px;
  width: 350px;
  margin-right:100px; 
  text-align: left;
  font-family: 'KBFGTextL' !important;
  font-size: 24px !important;
  font-weight: 600;
  background: url(../../images/main_icon_05.png) left center no-repeat;
}
.banr .inner .title span {
  background: linear-gradient(to top, rgba(17, 23, 69, 0.15) 50%, transparent 50%);
  padding:0 1px;
  position: absolute;
}
.banr .inner .meg {
  font-family: 'KBFGTextL';
  font-size: 18px;
  max-width:525px;
  margin-right:145px;
}
.banr .inner button {margin:0 !important; }



/*cardlist*/
.my_data {
  width:100%;
  display: inline-block;
  position: relative;
  margin-top: 240px;
  min-height: 720px;
}
.my_data .inner {
  width:1440px;
  margin:0 auto;
}
.my_data .inner .txt {
  width: 390px;
  float: left;
  margin-right: 98px;
}
.my_data .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_data .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}
.my_data .inner .txt div {
  clear: both;
  margin-top: 50px !important;
}
.my_data .inner .txt div button {
  margin:0 !important;
  padding:0 !important;
  font-size: 16px !important;
}
.my_data .slider {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 497px;
  overflow: hidden;
  margin-top: 132px;
}
.my_data .slider ul li {float: left;}
.my_data .slider .card_list {
  display: inline-block;
  width: 342px;
  height: 497px;
  margin: 0 12px;
}
.card_list .card_profile {
  display: inline-block;
  width: 100%;
  margin-bottom: 31px;
}
.card_list .card_profile .profile {
  display: inline-block;
  float: left;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  overflow: hidden;  
}
.card_list .card_profile .profile img {
  width: 56px;
  height: 56px;
}
.card_list .profile_txt {
  float: left;
  margin-left: 16px;
  min-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_list .profile_txt h6 {
  font-weight: 600; 
  margin-bottom: 8px;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_list .profile_txt .profile_info {}
.card_list .profile_txt .profile_info ul li {
  float:left;
  font-family: 'KBFGTextM';
  font-size: 14px;
  color: #757575;
  margin-right:17px;
}
.card_list .profile_txt .profile_info ul li:last-child {
  float: right;
  margin-right:0;
}
.card_list .profile_txt .profile_info ul li span {
  display: inline-block;
  border: 1px solid #473eab;
  border-radius: 4px;
  color: #473eab;
  font-family: 'KBFGTextM';
  font-size: 12px;
  padding: 4px 8px;
}
.my_data .slider .card_list .card_board {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}
.card_list .card_board .board_img {}
.card_list .card_board .board_txt {
  margin-top: 32px;
  font-family: 'KBFGTextM';
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  max-height: 73px;
  max-width: 342px;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
}

.my_data .slider .card_list .card_sns {
  border-top:1px solid #d8d8d8;
  padding-top:24px;
}
.card_list .card_sns div {
  float: left; 
  margin-right: 24px;
}





.my_data .slider .card {
  display: inline-block;
  width: 464px;
  height: 330px;
  margin-left: 24px;
  margin-bottom: 24px;
  padding: 46px 43px 46px 46px;
  border-radius: 4px;
  box-shadow: 2px 6px 18px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
}
.my_data .slider .card .keyword {
  clear: both;
  font-family: "KBFGTextM";
  font-size: 16px !important;

}
.my_data .slider .card .keyword span {
  display: inline-block; 
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 12px;
  border-radius: 100px;
  background-color: #60584c;
  color:#fff;
  font-size: 14px;
}
.my_data .slider .card .keyword span.etc {
  background-color: #efe5d8;
  color:#4d4d4d;
}
.my_data .slider .card .cardtit {
  clear: both;
  float: left;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  margin: 28px 0 19px 0;
}
.my_data .slider .card .cardtxt {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 14px;
  line-height: 24px;
  color: #757575; 
  min-height: 70px;
}
.my_data .slider .card .cardinfo {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 12px;
  border-top: 1px solid #d8d8d8;
  padding-top: 22px;
  margin-top: 22px;
}
.my_data .slider .card .cardinfo div.name {
  float: left;
}
.my_data .slider .card .cardinfo div.board {
  float: right;
}
.my_data .slider .card .cardinfo div.board div {
  float: left;
  margin: 0 15px;
  cursor: pointer;
}

.control_btn {
  clear: both;
  float: left;
  display: inline-block;
  width: 130px;
  margin-top: 160px;
}
.control_btn ul li {
  float:left;
  font-family: 'KBFGTextL';
  font-size: 22px;
  line-height: 26px;
  color: #968d83;
  cursor: pointer;
 }
.control_btn ul li span.bar {
  display: inline-block;
  width: 2px;
  height: 16px;
  margin: 0 11px;
  background: url(../../images/swipe_icon_bar.png) left center no-repeat;
  overflow: visible;
}


/**/
.section04 .container {position: relative; height: 14rem;}
.section04 .container:before {position: absolute; bottom: -2rem; right: -6rem; content: url("/images/template/00002/main/section042Bg.png"); transform: scale(0); -webkit-transform: scale(0); transition: all .3s .1s; -webkit-transition: all .3s .1s;}
.section04 .MC_box1 {position: relative; float: left; padding: 3.5rem 1.5rem 1.5rem 0; width: 14.5rem; height: 100%;}
.section04 .MC_box1:before {position: absolute; top: 0; right: 0; width: 0; height: 100%; background: #007bc7 url("/images/template/00002/main/section04Bg.png") no-repeat bottom right; box-shadow: 10px 10px 10px rgba(0,21,130,0.1); content: ""; z-index: -1;}
.section04 .MC_box1 h3 {color: #fff;}
.section04 .MC_box1 p {font-family: 'NotoSans';}
.section04 .MC_box1 h3 + p {margin-top: 0.5rem; line-height: 1.5; color: #97c9e7;}
.section04 .MC_box1 h3 + p + p {margin-top: 2rem; text-align: right;}
.section04 .MC_box1 h3 + p + p a {display: inline-block; width: 100%; max-width: 11rem; height: 2.5rem; line-height: 2.5rem; text-align: center; font-weight: 200; color: #fff;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#017cc7+0,3395d2+100 */
background: rgb(1,124,199); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(1,124,199,1) 0%, rgba(51,149,210,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017cc7', endColorstr='#3395d2',GradientType=1 ); /* IE6-9 */
}
.section04 .MC_box2 {float: left; margin-left: 1.5rem; width: calc(100% - 16rem); overflow: hidden;}
#slide04 {width: 100%;}
#slide04:after {clear: both; display: block; width: 100%; content: "";}
#slide04 .slideEl {float: left; margin-left: 1rem;}
#slide04 .slideEl a {position: relative; display: block; padding: 1.5rem; height: 10rem; background: #fff; border: 1px solid #d2d2d2;}
#slide04 .slideEl.slick-current.slick-active a,
#slide04 .slideEl a:hover {border: 1px solid; border-image-slice: 1; border-image-source: linear-gradient(to left, #28acc4, #1d2088); box-shadow: 3px 3px 7px rgba(0,21,130,0.35);}
#slide04 .slideEl .tag {display: inline-block; padding: 0 1rem; height: 1.8rem; line-height: 1.8rem; font-size: 0.7rem; color: #fff; overflow: hidden;}
#slide04 .slideEl .more {position: absolute; top: 1.5rem; right: 1.5rem; width: 1rem; height: 1rem; line-height: 1rem; text-align: center; font-size: 1.5rem; color: #000;}
#slide04 .slideEl .tag.type1 {background: #007bc7;}
#slide04 .slideEl .tag.type2 {background: #aacd06;}
#slide04 .slideEl .tag.type3 {background: #1d2088;}
#slide04 .slideEl .tit {margin-top: 0.5rem; height: 2.5rem; line-height: 1.25rem; font-weight: 400; color: #000; overflow: hidden;}
#slide04 .slideEl .txt {margin-top: 0.75rem; height: 1rem; line-height: 1rem; font-size: 0.7rem; color: #6e6e6e; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
#slide04 .slick-dots {display: none !important;}
.section04 .MC_box2 .control {margin-top: 1rem; width: 100%; text-align: center;}
.section04 .MC_box2 .control button {display: inline-block; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; color: #fff; background: #95a3b7; border-radius: 50%;}
.section04 .MC_box2 .control #slide04Play {display: none;}
.section04 .MC_box2 .pagingInfo {display: inline-block; width: 4rem; height: 2rem; font-family: 'Sora'; font-size: 0.8rem; font-weight: normal; color: #95a3b7;}
.section04 .MC_box2 .pagingInfo em {display: inline-block;}
.section04 .MC_box2 .pagingInfo .now {font-weight: 600; color: #007bc7;}
.section04 .MC_box2 .pagingInfo .total {position: relative; padding-left: 1rem;}
.section04 .MC_box2 .pagingInfo .total:before {position: absolute; top: 50%; left: 0.5rem; width: 1px; height: 15px; background: #95a3b7; transform: translateY(-50%) rotate(25deg); -webkit-transform: translateY(-50%) rotate(25deg); content: "";}
/* active */
.section04.action .container:before {transform: scale(1) rotate(180deg); -webkit-transform: scale(1) rotate(180deg);}
.section04.action .MC_box1:before {width: 300%; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;}

/**/


/*삭제노노*/
.cardlist_wrap {
  width: 100%;
  display: inline-block;
  background-color: #efe9e1;
  padding: 120px 0; 
}
.cardlist_wrap .title {
  float: left;
  width: 464px;
  margin-left: 80px;
}
.cardlist_wrap .title h3 {
  font-family: 'KBFGDisplayM';
  font-size: 42px !important;
  font-weight: 600;
  line-height: 54px !important;
  color: #1e1909;
}
.cardlist_wrap .title span {
  clear: both;
  float: left;
  font-family: 'KBFGTextL';
  line-height: 30px !important;
  margin-bottom: 48px;
}
.cardlist_wrap .title .v-btn {
  clear: both;
  float: left;
  font-family: "KBFGTextM";
  font-weight: 600;
}
/*
.v-btn--icon.v-size--default {
  height: 0px !important;
  width: 0px !important;
}
*/
.cardlist_wrap .title .v-btn .v-icon {
  color: #ffbc00;
}
.cardlist {
  float: left;
  margin-top: 108px;
}
.cardlist .card {
  float: left;
  display: inline-block;
  width: 464px;
  height: 330px;
  margin-left: 24px;
  padding: 46px 43px 46px 46px;
  border-radius: 4px;
  box-shadow: 2px 6px 18px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
}
.cardlist .card .keyword {
  clear: both;
  font-family: "KBFGTextM";
  font-size: 16px !important;

}
.cardlist .card .keyword span {
  display: inline-block; 
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 12px;
  border-radius: 100px;
  background-color: #60584c;
  color:#fff;
  font-size: 14px;
}
.cardlist .card .keyword span.etc {
  background-color: #efe5d8;
  color:#4d4d4d;
}
.cardlist .card .cardtit {
  clear: both;
  float: left;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  margin: 28px 0 19px 0;
}
.cardlist .card .cardtxt {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 14px;
  line-height: 26px;
  color: #757575; 
  min-height: 70px;
}
.cardlist .card .cardinfo {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 12px;
  border-top: 1px solid #d8d8d8;
  padding-top: 22px;
  margin-top: 22px;
}
.cardlist .card .cardinfo div.name {
  float: left;
}
.cardlist .card .cardinfo div.board {
  float: right;
}
.cardlist .card .cardinfo div.board div {
  float: left;
  margin: 0 15px;
  cursor: pointer;
}


.my_guide {
  position: relative;
  width: 100%;
  display: inline-block;
  padding-bottom: 200px;
}
.my_guide .inner {
  width: 1440px;
  margin: 0 auto;
}
.my_guide .inner .txt {
  float: left;
}
.my_guide .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 48px;
}
.v-parallax__content {
  color: #FFFFFF;
  height: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.v-parallax__content .inner {
  width: 1440px;
  margin: 0 auto;
  z-index: 20;
}
.v-parallax__content .inner .txt {
  float: left;
}

.v-parallax__content .inner .guidebox {
  clear: both;
  display: inline-block;
  width: 1440px;
  background: #fff;
  border-radius: 4px;
  padding: 56px 80px;
}
.v-parallax__content .inner .guidebox .box {
  float: left;
  margin-right: 175px;
}
.last {
  margin-right: 0 !important;
}
.v-parallax__content .inner .guidebox .box p.g01 {
  background: url(../../images/main_icon_01.png) top left no-repeat;
  padding-top: 40px;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  color: #1e1909;
  margin-bottom: 16px;
}
.v-parallax__content .inner .guidebox .box p.g02 {
  background: url(../../images/main_icon_02.png) top left no-repeat;
  padding-top: 40px;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  color: #1e1909;
  margin-bottom: 16px;
}
.v-parallax__content .inner .guidebox .box p.g03 {
  background: url(../../images/main_icon_03.png) top left no-repeat;
  padding-top: 40px;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  color: #1e1909;
  margin-bottom: 16px;
}
.v-parallax__content .inner .guidebox .box p.g04 {
  background: url(../../images/main_icon_04.png) top left no-repeat;
  padding-top: 40px;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  color: #1e1909;
  margin-bottom: 16px;
}
.v-parallax__content .inner .guidebox .box span {
  display: inline-block;
  font-family: 'KBFGTextM';
  font-size: 16px;
  color: #757575;
  line-height: 28px;
  height: 50px;
  margin-bottom: 34px;
}
.v-parallax__content .inner .guidebox .box div button {
  margin:0 !important;
  padding:0 !important;
  color:#1e1909 !important;
}
.v-parallax__content .inner .guidebox .box div button i {
  color:#ffbc00;
}

.banr2 {
  position: absolute;
  width: 100%;
  margin-top:-298px;
  z-index: 2;
}
.banr2 .inner  {
  width: 1440px;
  min-height: 217px;
  margin: 0 auto;    
  background: #504842;
  border-radius: 4px;
  color:#fff;   
  padding:75px 80px;
}
.banr2 .inner  div {
  float: left;
}
.banr2 .inner .title p {  
  padding-left:110px;
  margin-right:100px; 
  height: 64px;
  text-align: left;
  font-family: 'KBFGTextL' !important;
  font-size: 24px;
  font-weight: 600;
  color:#fff;
  background: url(../../images/main_icon_06.png) left center no-repeat;
}
.banr2 .inner .title p span {
  font-family: 'KBFGTextL';
  font-weight: normal;
  font-size: 18px;
  color: #efefef;
}

.banr2 .inner button {margin:0 !important; }

/*footer*/

.footer_wrap {
  width: 100%;
  background: #f4f3f2;
  border-top:1px solid #e0e0e0;
}
.footer_wrap .inner {
  width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
}
.footer_wrap .inner ul.footmenu {
  float: left;
  width: 1020px;
  display: inline-block;
}
.footer_wrap .inner ul.footmenu li {
  float: left;
  margin-right: 140px;
  color: #261f19;
  font-family: "KBFGDisplayL";
  font-weight: 600;
  font-size: 16px;
}

.footer_wrap .inner ul.footmenu li:last-child {
  margin-right: 0;
}
.footer_wrap .inner ul.footmenu li a {
  color: inherit;
}
.footer_wrap .inner ul.footmenu li a:link {
  text-decoration: none;
}
.footer_wrap .inner ul.footmenu li a:hover {
  color: #968d83;
}
.footer_wrap .inner ul.footmenu li ul {
  margin: 0;
}
.footer_wrap .inner ul.footmenu li ul li {
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #757575;
}
.copyright {
  float: left;
  clear: both;
  margin-top: 0 !important;
  margin-bottom: 50px !important;
  font-family: "KBFGDisplayL";
  font-size: 14px;
  color: #757575;
}
.otherinfo {
  float: right;
  display: inline-block;
  width: 320px;
}

.otherinfo .familyGroup {
  position:relative; 
  width:auto;  
  padding:0 54px 0 0;
  border:1px solid #dddddd;
  background: #fff;
}
.otherinfo .familyGroup .selectbox {
  min-width:210px; 
  padding:17px 46px 16px 24px; 
  font-family:'KBFGDisplayM'; 
  font-size:16px; 
  color:#1e1909; 
  line-height:1.2; 
  letter-spacing:-0.5px; 
  font-weight:600; 
  background:url('/content/images/bg/bg_familysite_arrow.png') right 20px top 50%  no-repeat; 
  border:0; 
  -webkit-appearance:none; 
  -moz-appearance:none; 
  appearance:none; 
}
.otherinfo .down {
  display: inline-block;
  padding:32px 16px;
  border-bottom: 1px solid #d8d8d8;
}
.otherinfo .down ul li {
  float: left;
  margin-bottom: 24px;
  font-family: 'KBFGDisplayL';
  font-size: 14px;
}
.otherinfo .down ul li:last-child {margin-bottom: 0;}
.otherinfo .down ul li span {
  display: inline-block;
  font-family: 'KBFGDisplayM';
  padding-left: 22px;
  background: url('../../images/com_icon_down.png') left center no-repeat;
}



/*text*/
textarea {
  margin-bottom: 10px;
}
textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #d8d8d8;
}

/*link*/

/*textfield
.v-text-field {
    max-width:240px !important;
}
*/

/*btn*/
button {
  font-family: "KBFGTextM"; /*KB금융본문체*/
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 0px 5px;
  padding: 0 16px;
  height: 40px;
  min-width: 80px;
  cursor: pointer;
  /*background:#ffbc00;*/
}
button.primary {
  color: #1e1909 !important;  
}
button.secondary {
  color: #fff !important;  
}
button.large {
  height: 50px;
  min-width: 160px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 24px;
}
button.small {
  height: 32px;
  min-width: 0;
  padding:0 12px;
  font-size: 14px;
  padding: 0 10px;
}
button:disabled {
  opacity: 0.5;
  color: #fff;
  pointer-events: none;
}
button.box {
  border: 1px solid #504842;
  background-color: #fff;
  color: #504842;
}
button.round {
  border: 1px solid #504842;
  background-color: #fff;
  color: #504842;
  border-radius: 50px;
}
button.util {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  height: 32px;
  min-width: 0;
  padding: 0 10px;
  margin: 0;
}
button:active,
button:hover,
button:focus {
  /*background: var(--button-hover-bg-color);*/
  opacity: 0.7;
  outline: 0;
}

button.primary:hover {
  background: #968d83 !important;
  opacity: 0.7;
  color: #fff !important;
}
button.secondary:hover {
  background: #504842 !important;
  opacity: 0.7;
  color: #fff !important;
}
button.util:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
button.my {
  background: #ffbc00 !important;
  font-weight: 600;
  color: #231e10;
  height: 40px;
  min-width: auto;
}
button.my:hover, .my:active, .my:focus {
  opacity: 1;
}
/*버튼*/
button.regit {background-color: #ffbc00 !important; color: #1e1909 !important;}  /*등록*/
button.edit {border: 1px solid #504842; color: #504842; background-color: #fff;} /*수정*/
button.delete {border: 1px solid #504842; color: #504842; background-color: #fff;} /*삭제*/
button.cancel {border: 1px solid #504842; color: #504842; background-color: #fff;} /*취소*/
button.confirm {background-color:#504842; color:#fff;} /*확인,완료*/
button.search {background: #504842 !important; color: #fff !important;} /*검색*/
button.check {background: #504842 !important; color: #fff !important;}

/*
button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #333;
  background-color:#fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  &[disabled]{
    cursor: not-allowed;
  }
  &.danger {
    background-color: #ff4949;
    color: #fff;
  }
  &.success {
    background-color: #13ce66;
    color: #fff;
  }
  &.info {
    background-color: #50bfff;
    color: #fff;
  }
}*/

/*pagebutton*/
.v-pagination__item {
  background: transparent;
  border-radius: 4px;
  font-size: 14px !important;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.v-pagination__navigation {
  height: 32px !important;
  width: 32px !important;
  min-width: 0 !important;
  max-width: 32px !important;
  font-size: 14px !important;
}

.v-pagination__navigation ul li button:first-child {
  width: 32px !important;
  min-width: 0 !important;
}


/*radio style*/
.boxradio input[type="radio"] {
  display: none;
}

.boxradio input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #dfdfdf;
  padding: 0px 10px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
}

.boxradio input[type="radio"]:checked + span {
  border: 1px solid #23a3a7;
  background: #23a3a7;
  color: #fff;
}

/*checkbox*/


/*input*/
input[type="text"] {
}
.v-text-field fieldset,
.v-text-field .v-input__control {
  /*max-width: 240px;*/
}
.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 0px !important;
}
.v-input input {
  max-height: 40px !important;
}

.v-text-field input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 6px 0 8px !important;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
}

.v-label {
  font-size: 14px !important;
  line-height: 1;
  min-height: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.v-text-field .v-label {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 5px !important;
  white-space: nowrap;
  pointer-events: none;
}
.v-text-field--outlined .v-label {
  top: 5px !important;
}
.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 14px !important;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-input .v-label {
  color:#d8d8d8;
  letter-spacing: normal;
}
.v-text-field--enclosed .v-input__append-inner {
  margin-top:3px !important;
}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 40px !important;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
}

.v-list-item__title {
  align-self: center;
  font-size: 14px !important;
}

/*selectmenu*/
.v-menu__content {
  position: absolute;
  display: inline-block;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  contain: content;
  box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 20%), 0px 4px 5px 1px rgb(0 0 0 / 14%), 0px 3px 7px 2px rgb(0 0 0 / 12%);
  /*box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);*/
  border-radius: 4px;
}


/*errorpage*/
.error-page {
  /*position: absolute;
    top: 50%;  
    left: 50%;
    width: 500px; 
    height: 300px;
    margin-left: -250px;
    margin-top : -150px;
    */
  position: relative;
  display: inline;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;  
  width: 100%;
  height: 100%;
}
.error-page .inner {  
  width: 1440px;
  margin: 120px auto;
  padding: 56px 0 74px;
  text-align: center;
  background: #fff;
}
.error-page .inner img {
  margin: auto 0 32px auto;
}
.error-text {
  text-align: center;
}
.error-text .meg {}
.error-text .meg p {
  font-family: "KBFGDisplayM";
  font-size: 32px;
  color: #101010;
  font-weight: 600;
  margin-bottom: 16px;
}
.error-text .meg span {
  font-family: "KBFGTextL";
  font-size: 16px;
  color: #101010;
  line-height: 26px;
}
.error-text .meg-btn {}

.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0 !important;
}



/*서브*/
#sub_wrap {
  padding: 56px 0;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 72px;
}
#sub_wrap .title {
  margin-bottom: 48px;
}
#sub_wrap .title ul {
  clear: both;
}
#sub_wrap .title ul li {
  float:left;
  font-family: 'KBFGTextL';
  font-size: 14px;
  color:#1e1909;
  padding: 0 5px;
}
#sub_wrap .title ul li:last-child {font-weight: 600;}
#sub_wrap .title h3 {
  clear: both;
  font-weight: 600;
}
.subcontents {
  display: inline-block;
  min-width: 1440px;
  padding:54px 56px;
  background: #fff;
  border-radius: 4px;
}
.s_title {
  display: inline-block;
  width: 100%;
  border-bottom:1px solid #e0e0e0;
  padding-bottom: 48px;
}
.s_title .page_tit {
  float: left;
  max-width: 80%;
}
.s_title .page_tit h4 {font-weight: 600; margin-bottom: 16px;}
.s_title .page_tit span {
  font-size: 16px;
  color:#1e1909;
}
.page_step {
  float:right;
  max-height: 24px;
  margin-top: 50px;
}
.page_step ul li {
  display: inline-flex;
  float:left;
  font-family: 'KBFGTextM';
  font-size: 18px;
  line-height: 24px;
  color: #adadad;
}
.page_step ul li.on {
  font-weight: 600;
  color: #473eab;
}
.page_step ul li img.step_check {
  width: 30px;
  height: 30px;
  margin: 0 8px 0 0;
  padding: 0;
  object-fit: contain;
}
.page_step ul li.dash {
  border-bottom: 1px solid #d8d8d8;
  height: 1px;
  width: 40px;
  padding-top: 14px;
  margin: 0 16px;
}
.page_step ul li span {
  background-color: #473eab;
  color:#fff;
  text-align: center;
}
.s_body {

}
.agree_all {float:left; width:100%;}
.agree_all p {
  font-weight: 600;
  font-size: 18px;
  line-height: 65px;
}
.agree_all p .v-input__slot{
  float:left;
  max-width: 30px !important;
}
.agree {
  margin-bottom: 40px;
}
.agree .agree_chk {float: left; width: 100%;}
.agree .agree_chk p {
  font-family: 'KBFGTextM';
  font-size: 18px;
  line-height: 70px;
  color:#1e1909;
}
.agree .agree_chk p span {
 color: #dd3300;
 font-size: 11px;
 margin-left: 8px;
}
.agree .agree_txt {
  display: inline-block;
  background: #f4f3f2;
  width: 100%;
  padding:32px;
  font-size: 15px;
  line-height: 26px;
  color: #757575;
}
.agree .agree_txt span {
  color:#f26615;
}

.agree .v-input__slot, .v-input--selection-controls.v-input {
  width: 30px !important;
  height: 30px !important;
  float: left;
}


/*테이블*/
table {
  border-top:2px solid #504842;
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
  padding: 0 24px;
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
  height: 56px;
}
th:first-child {
  border-left: none;
}
th:last-child {
  border-right: none;
}
td {
  text-align: center;
  padding: 0 24px;
  border: 1px solid #d8d8d8;
  height: 56px;
  word-break: keep-all;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}
table.liner {
  border-collapse: collapse;
  width: 100%;
}
table.liner tr {
  border-top: 1px solid #d8d8d8;
}
table.liner tr:last-child {
  border-bottom: 1px solid #d8d8d8;
}
table.liner th {
  text-align: center;
  padding: 10px 0;
  background: #f5f5f5;
  border: none;
}
table.liner td {
  text-align: center;
  padding: 10px 0;
  border: none;
}

table td a:hover {
  color:#fbc00a !important;
}
/*
table tr:hover {
  background: #fff9e6;
  cursor: pointer;
}
*/
table span {
  display: inline-block;
  color: #dd3300;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
  margin-left: 8px;
}

.tb_list tr:hover {
  background: #fff9e6;
  cursor: pointer;
}

.tb_write {}
.tb_write th {max-height: 56px; text-align: left; padding:8px 24px !important;}
.tb_write td {min-height: 56px; text-align: left; padding:8px 16px !important;}
.tb_write td .v-text-field .v-input__slot .v-inupt {width:100% !important;}



/**/
.tb_scroll {
  width: 100%;
  position: relative;
  float: left;
  height: 500px;
  margin: 0 auto;
}
.topbox1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  background: #edf1f5;
  width: 46%;
  border-top: 2px solid #504842;
}
.topbox2 {
  position: absolute;
  top: 0;
  left: 50%;
  height: 56px;
  background: #edf1f5;
  width: 46%;
  border-top: 0px;
}
.middlebox {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 297px;
}
.box2 {
  top: 0;
  left: 0;
  height: 297px;
  overflow-y: scroll;
  margin: 0 auto;
  width: 100%;
  float: left;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(179, 179, 179, 0.4);
}

.toptable1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  border-collapse: collapse;
  z-index: 999;
  border-top: 0px;
}

.toptable1 th {
  top: 0;
  left: 0;
  border-collapse: collapse;
  background: #edf1f5;
  height: 54px;
  border-top: 0px;
}

.colr_table2 {
  border-collapse: collapse;
  border-top: none;
  width: 100%;
  float: left;
}

.colr_table2 th {
  border-top: none;
  text-align: center;
  font-size: 14px;
}

.fix_head {
  position: absolute;
  display: inline-table;
  width: calc(100% - 20px);
  left: -2px;
  border-top: 0px;
}

.w20 {
  width: 20%;
}

.w40 {
  width: 40%;
}




/*팝업*/
#layerpop {  
  position: relative;
  left: 50%;
  top: 100px;
  bottom: 0;
  right: 0;
  display: inline-block;
  background: #f5f5f5;  
  margin-left:-200px;
}
#layerpop .inner {
  padding: 30px;
  background: #fff;
}
#layerpop .inner .poptit {
  display: inline-block;
  width: 100%;
}
#layerpop .inner .poptit p {
  font-size: 18px;
  font-weight: 600;
}
#layerpop .inner .poptit button {
  float: right;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  margin: 0;
  margin-top: -30px;
  padding: 0;
  height: 30px;
  min-width: 30px !important;
  cursor: pointer;
}
#layerpop .inner .poptit button i {
  color: #1e1909;
}
#layerpop .inner .popconts {
  padding: 20px 0;
}
#layerpop .inner .popconts div {
  overflow-y: auto;
  height: 200px;
}
#layerpop .inner .popbtn {
  text-align: center;
}

/*select*/
.v-select {
  max-width: 240px;
}

.v-select > .v-input__control > .v-input__slot {
  max-width: 100% !important;
}

.v-text-field fieldset, .v-text-field .v-input__control {
  max-width: 100% !important;
}


.form_phone {}
.form_phone .v-select {
  width:150px !important;
  float: left;
}
.form_phone .v-text-field {
  width:80px !important;
  float: left;
}


/*tooltip*/
.tooltip-top::before {
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  transform: translateX(-50%);
  position: absolute;
  z-index: -21;
  content: '';
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}
.tooltip-top.error::before{
  border-top: solid 8px #ff6060;
}

.tooltip-top.success::before{
  border-top: solid 8px #1B5E20;
}
.tooltip-top.secondary::before{
  border-top: solid 8px #968D83;
}

.tooltip-top.primary::before{
  border-top: solid 8px #246fb3;
}

.tooltip-top.info::before{
  border-top: solid 8px #2196f3;
}


.tooltip-bottom::before{
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  transform: translateX(-50%);
  position: absolute;
  z-index: -21;
  content: '';
  bottom: 100%;
  left: 50%;
  height: 0;
  width: 0;
}

.tooltip-bottom.error::before{
  border-bottom: solid 8px #ff6060;
}

.tooltip-bottom.success::before{
  border-bottom: solid 8px #1B5E20;
}
.tooltip-bottom.secondary::before{
  border-bottom: solid 8px #968D83;
}

.tooltip-bottom.primary::before{
  border-bottom: solid 8px #246fb3;
}

.tooltip-bottom.info::before{
  border-bottom: solid 8px #2196f3;
}


.tooltip-right::before{
  content: " ";
  position: absolute;
  top: 30%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-left: solid 8px transparent;
}

.tooltip-right.error::before{
  border-right: solid 8px #ff6060 !important;
}

.tooltip-right.success::before{
  border-right: solid 8px #1B5E20 !important;
}
.tooltip-right.secondary::before{
  border-right: solid 8px #968D83 !important;
}

.tooltip-right.primary::before{
  border-right: solid 8px #246fb3 !important;
}

.tooltip-right.info::before{
  border-right: solid 8px #2196f3 !important;
}

.tooltip-left::before{
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the left of the tooltip */
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-right: solid 8px transparent;
}

.tooltip-left.error::before{
  border-left: solid 8px #ff6060 !important;
}

.tooltip-left.success::before{
  border-left: solid 8px #1B5E20 !important;
}
.tooltip-left.secondary::before{
  border-left: solid 8px #968D83 !important;
}

.tooltip-left.primary::before{
  border-left: solid 8px #246fb3 !important;
}

.tooltip-left.info::before{
  border-left: solid 8px #2196f3 !important;
}



/*Toast*/
.toast {
  width: 250px; 
  height: 20px; 
  height:auto; 
  position: fixed; 
  left: 50%; 
  margin-left:-125px; 
  bottom: 100px; 
  z-index: 9999; 
  background-color: #504842; 
  color: #fff; 
  font-family: 'KBFGTextM'; 
  font-size: 14px; 
  padding: 10px; 
  text-align:center; 
  border-radius: 2px; 
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); 
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); 
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);

}



/*quickmenu*/
#quickmenu {
  display: inline-block;
  position: fixed; 
  top: 163px !important; 
  right: 3%;
  width: 72px;
  max-width: 72px;
  height: 570px;   
  z-index: 7; 
}
.quick {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 12px;
}
.quick ul li {  
  text-align: center;
  max-width: 48px;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #f4f3f2;
}
.quick ul li a {text-decoration: none;}
.quick ul li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.quick ul li img {
  clear: both;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}
.quick ul li span {
  display: inline-block;
  font-family: 'KBFGTextM';
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
}
.quick ul li a {
  color:#504842;
}
.quick ul li a:hover {
  color:#ffbc00;
  text-decoration: none;
  
}
.scrollTop { 
  position: fixed; 
  bottom: 3em; 
  width: 74px; 
  height: 74px; 
  background: url(../../images/quick_icon_top.png) center no-repeat; 
  background-size: contain; 
  cursor: pointer;
  border: 0;
}



/*v-*/
.v-messages__message {line-height: 16px !important;}
/*.v-input--selection-controls__ripple {left:-5px !important; margin:8px !important; }*/
.v-system-bar .v-input--selection-controls .v-input__slot > .v-label, 
.v-input--selection-controls .v-radio > .v-label {
  color:#1e1909;
  padding-left: 20px !important;
}
.v-text-field--outlined .v-input__prepend-outer, 
.v-text-field--outlined .v-input__append-outer {
  margin-top:0 !important;
}
.v-application--is-ltr .v-input__append-outer {
  margin-left:0 !important;
}
.v-text-field--filled > .v-input__control > .v-input__slot, 
.v-text-field--full-width > .v-input__control > .v-input__slot, 
.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}
.v-text-field__details {margin-bottom: 0 !important;}
/*.v-input--selection-controls.v-input--dense:not(.v-input--switch) .v-input--selection-controls__ripple {
  left: -12px;
  top: calc(50% - 24px);
  margin: 8px;
}*/