@charset "utf-8";

@import "reset.css";

/*font*/
@font-face {
  /*KB금융 본문체 Light*/
  font-family: "KBFGTextL";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGTextL.eot);
  src: url(../font//KBFGTextL.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGTextL.woff) format("woff");
}

@font-face {
  /*KB금융 본문체 Medium*/
  font-family: "KBFGTextM";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGTextM.eot);
  src: url(../font/KBFGTextM.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGTextM.woff) format("woff");
}

@font-face {
  /*KB금융 제목체 Medium*/
  font-family: "KBFGDisplayM";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGDisplayM.eot);
  src: url(../font/KBFGDisplayM.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGDisplayM.woff) format("woff");
}

@font-face { 
/*KB금융 제목체 Light*/
font-family: "KBFGDisplayL";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGDisplayL.eot);
  src: url(../font/KBFGDisplayL.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGDisplayL.woff) format("woff");
} 

/*headline*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "KBFGDisplayM";
}
h1 {
  font-size: 64px;
  font-weight: normal;
  line-height: 84px;
}
h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 60px;
}
h3 {
  font-size: 42px;
  font-weight: normal;
  line-height: 54px;
}
h4 {
  font-size: 36px;
  font-weight: normal;
  line-height: 46px;
}
h5 {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
h6 {
  font-size: 22px;
  font-weight: normal;
  line-height: 32px;
}
h7 {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}



/*layout*/
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: auto;
}

@media (min-width:1200px;) {
  
}


/*test*/


/*systembar*/
.v-system-bar {
  align-items: center;
  display: flex;  
  padding: 0;
}
.v-system-bar .conts {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.v-system-bar .conts span {
  float: left;
  font-family: 'KBFGTextM' !important;
  font-size: 18px !important;
  color:#fff;
  text-align: center;
  margin: 0 auto;
} 

.v-system-bar .conts span.util {
  position: absolute;
  right: 0;
  margin-top: 15px;
} 

.v-system-bar .conts span.util .v-input {
  float:left;
  margin: 0 10px;  
}
.v-system-bar .conts span.util .v-input--selection-controls {
  margin-top: 4px;
  padding-top: 0;
}

.v-system-bar .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
  color:#fff;
}
.v-system-bar .conts span.util button { 
  float: left; 
  padding: 0;
  height: 30px;
  min-width: 30px;
  margin: 0 5px;
}





 





/*admin*/
.adm_wrap {
  position: relative;
  display:inline-block;
  width: 100%;
  height: 100%;
}

/*adm_lnb*/
#lnb {
  position: relative;
  float: left;
  width: 280px;
  height: 100%;
  min-height: 100%;;
  background-color: #2c2921;
  font-family: 'KBFGDisplayL' !important;
  font-size: 16px;
  line-height: 24px;
  color: #fff;

}

#lnb > ul {}
#lnb > ul > li { 
  border-bottom: 1px solid #504842;
}
#lnb > ul > li > a {
  display: block;
  padding: 18px 24px 18px 48px; 
  color: inherit; 
  font-size: 16px;
  background:#2c2921 url(../../images/adm_arrow_down.png) no-repeat 95% 15px;
}
#lnb > ul > li a:hover {color: #ffbc00; }
#lnb > ul > li.on > a {
  color: #FF9D00; 
  background: #f5f2ec url('../../images/adm_arrow_on.png') no-repeat 95% 15px;
}
#lnb > ul > li ul {display: none;}
#lnb > ul > li > ul > li > a {
  display: block;
  padding: 0 25px 14px 14px;
  color: inherit; 
  font-size: 14px;
  background: #f5f2ec;}
#lnb > ul > li > ul > li > a {
  color: #ffbc00; 
  background-color: #f5f2ec url('../../images/adm_arrow_on.png') no-repeat 95% 1px;
}
#lnb > ul > li > ul > li.on a {
  color: #FF9D00; 
  background: #f5f2ec url('../../images/adm_arrow_on.png') no-repeat 95% 3px; }
#lnb > ul > li > ul li ul {
  display: none;
  padding-bottom: 8px;
  background-color: #f5f2ec;
}
#lnb > ul > li > ul li li a {
  display: block;
  padding: 0 25px 10px 22px; 
  color: #666; 
  font-size: 14px;
  background-color: #f5f2ec;
}
#lnb > ul > li > ul > li li a:hover {color: #ffbc00;}
#lnb > ul li.noDepth a {background-image: none !important; }


/*adm_contents*/
.conts_adm {
  position: relative;
  display: inline-block;
  /*float: left;*/
  background-color: #F4F3F2;
  width: calc(100% -280px);
  width: -moz-calc(100% - 280px);
  width: -webkit-calc(100% - 280px);
  height: 100%;
}
.conts_adm .inner {  
  margin-top:32px;
  margin-left:40px;
}
.conts_adm .inner h5 {  
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.search {
  width: 1440px;
  min-height: 104px;
  padding: 32px;
  background-color: #fff;
}
.search ul {}
.search ul li {float:left; margin-left:50px;}
.search ul li:first-child {margin-left:0;}
.search ul li:last-child {margin-left:32px;}
.search ul li label {float:left; min-width: 128px; margin-right: 16px; line-height: 38px; font-family:'KBFGTextM'; font-size: 14px; font-weight: 600; }
.search ul li label span {display:inline-block; color:#dd3300; font-size:11px; font-weight: normal; line-height:14px; margin-left:8px; }

.search ul li .v-select {margin-top: 5px; min-width: 244px;}
.search ul li .v-text-field {margin-top: 5px; min-width: 244px;}
.search ul li button {margin:0px !important;}

.item_box {
  display: inline-block;
  width: 1440px;  
  padding: 32px;
  background-color: #fff;
  margin-top: 16px;
}
.item_box div {float:left;}
.item_box .tit h5 {
  font-family: 'KBFGTextM';
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.item_box .tit p {font-family: 'KBFGTextM'; font-size: 14px;}
.item_box .tit span {color:#dd3300; }
.item_box .btn {float:right; margin-top: 28px;}
.item_box .btn button {margin: 0;}

.table_box {clear:both; width: 100%;}

.paging {clear: both; margin-top: 24px;}

.btn_area {
  margin-top: 32px;
  display: inline-block;
  width: 1440px; 
  text-align: right; 
}
.btn_area button {margin: 0 5px;}



#app {
  font-family: "KBFGTextM";
}
.v-application {
  font-family: "KBFGTextM";
}
.v-application ul {
  padding-left: 0px !important;
}

body {
  font-family: "KBFGTextM";
  font-size: 16px;
  font-weight: normal;
  line-height: 42px;
  color: #1e1909;
}

div {
  font-family: "KBFGTextM";
}

/* header */
.layerInBox {position:relative; max-width:1440px; height:100%; margin:0 auto;}
.layerInBox:after {content:""; display:block; clear:both;}

header {
  position:fixed; 
  left:0; 
  top:0; 
  width:100%; 
  height:70px; 
  transform:translate3d(0,0,0); 
  z-index:80; 
  -webkit-transition:all 0.3s ease-in-out; 
  -o-transition:all 0.3s ease-in-out; 
  transition:all 0.3s ease-in-out; 
  overflow:hidden;
}
header:before {
  opacity:0; 
  content:''; 
  position:absolute; 
  left:0; 
  top:69px; 
  width:100%; 
  height:1px;
  background:url('../../images/gnb_hover_bg.png') left top repeat-x;
  -webkit-transition:all 0.3s ease-in-out; 
  -o-transition:all 0.3s ease-in-out; 
  transition:all 0.3s ease-in-out;
}
header:after {
  content:''; 
  position:absolute; 
  left:0; 
  top:0; 
  width:100%; 
  height:100%; 
  z-index:1; 
  /*background:url('../../images/gnb_hover_bg.png') left top repeat-x;*/
}
header * {z-index:10;}

header h1 {position:absolute; left:0; top:23px; width:178px; height:27px; z-index:14;}
header h1 a {
  display:block; 
  height:100%; 
  background:url('../../images/gnb_logo.png') left top no-repeat;
}

header #gnb {position:relative; width:100%; text-align:center; }
header #gnb > ul:after {content:""; display:block; clear:both;}
header #gnb > ul > li {
  display:inline-block; 
  padding:0 23px;
}
header #gnb > ul > li > a {
  display:inline-block;  
  -webkit-transition:all 0.3s ease-in-out; 
  -o-transition:all 0.3s ease-in-out; 
  transition:all 0.3s ease-in-out;
}
header #gnb > ul > li > a:hover {
  border-bottom: 4px solid #ffbc00;
}

header #gnb > ul > li > a > span {
  font-family: 'KBFGDisplayL', sans-serif; 
  font-size:18px; 
  color:#fff; 
  letter-spacing:2px; 
  line-height:70px; 
  font-weight:600; 
  -webkit-transition:all 0.3s ease-in-out; 
  -o-transition:all 0.3s ease-in-out; 
  transition:all 0.3s ease-in-out;
}
header #gnb div[id*="topSubm"] {
  display:none; 
  position:absolute; 
  left:0; 
  top:69px; 
  width:100%; 
  height:300px; 
  text-align:left;
}
header #gnb div[id*="topSubm"] .topTit {
  position:absolute; 
  left:0; 
  top:48px;
  width:220px;
}
header #gnb div[id*="topSubm"] .topTit strong {
  display:block; 
  font-family:'KBFGDisplayL', sans-serif; 
  font-size:36px; 
  color: #1e1909; 
  font-weight:600; 
  line-height:1.2; 
  letter-spacing:2.4px; 
  padding:0 0 22px 0;
}
header #gnb div[id*="topSubm"] .topTit p {}
header #gnb div[id*="topSubm"] .topTit span {
  display:block; 
  font-family:'KBFGDisplayM', sans-serif; 
  font-size:36px; 
  font-size:14px; 
  color:#4d4d4d; 
  line-height:1.6; 
  letter-spacing:-0.5px;
}
header #gnb div[id*="topSubm"] .menu {
  position:absolute; 
  left:33.33%; 
  top:48px;
}
header #gnb div[id*="topSubm"] .menu > ul:after {
  content:""; display:block; clear:both;}
header #gnb div[id*="topSubm"] .menu > ul > li {
  display:block;
  float:left;
  margin: 0 30px;
}
header #gnb div[id*="topSubm"] .menu > ul > li a {
  display:block; 
  padding:0 0 25px 0; 
  font-size:18px;
  font-weight: 600; 
  color:#1e1909; 
  line-height:1.6; 
  letter-spacing:-0.5px; 
  -webkit-transition:all 0.3s ease-in-out; 
  -o-transition:all 0.3s ease-in-out; 
  transition:all 0.3s ease-in-out;
}
header #gnb div[id*="topSubm"] .menu > ul > li a:hover {color:#ffbc00;}
header #gnb div[id*="topSubm"] .menu > ul > li:last-child a {padding:0;}

header .util {position:absolute; right:0; top:20px;}
header .util button {
  margin:0; 
  font-weight: 600; 
  color:#1e1909 !important;
  height: 36px !important;
}
header .util ul:after {content:""; display:block; clear:both;}
header .util ul li {float:left; margin:auto 11px;}
header .util ul li:first-child {margin-right:56px !important} 
header .util ul li:last-child {margin: 0 0 0 11px; }
header .util ul li a {}

header .util ul li span {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top:2px; 
  overflow: hidden;
  cursor: pointer;
}
header .util ul li span.profile {
  border-radius: 50%;
  background: #ffbc00;   
  padding:0px;
}

header.hover {height:300px; background:url('../../images/gnb_hover_bg.png') top left repeat-x;}
header.hover:before {opacity:1;}
header.hover:after {display:none;}
header.hover #gnb > ul > li > a > span {color:#fff;}
header.hover h1 a {background:url('../../images/gnb_logo.png') left top no-repeat;}
header.hover .util ul li a {color:#3d393d;}
/*
header.hoverNone {height:72px; background:url('../../images/gnb_hover_bg.png') top left repeat-x;}
header.hoverNone:before {opacity:1;}
header.hoverNone:after {display:none;}
header.hoverNone #gnb > ul > li > a > span {color:#fff;}
header.hoverNone h1 a {background:url('../../images/gnb_logo.png') left top no-repeat;}
header.hoverNone .util ul li a {color:#3d393d;}
*/

header.fixed {background: #fff url('../../images/gnb_hover_bg.png') top left repeat-x;}
header.fixed:before {opacity:1;}
header.fixed:after {
  top:auto; 
  bottom:0; 
  height:1px;
  /*background: url('https://www.coreana.com/content/images/bg/bg_header_hover.png') left top repeat-x;*/
}
header.fixed #gnb > ul > li > a > span {color:#fff;}
header.fixed h1 a {background:url('../../images/gnb_logo.png') left top no-repeat;}
header.fixed .util ul li a {color:#3d393d;}
header.fixed.hover:after {display:block;}
header.fixed.hoverNone:after {display:block;}
header.fixed #mNavi span {background:#2d2d2d;}

header #gnb > ul > li > a.hover > span {color:#ffbc00;}

#mNavi {display:none;}
#mUtil {display:none;}
/**/

/*main*/
#main {
  position: relative;
  width: 100%;
  max-width: 100%;
  background-color: #F4F3F2;
}

/*visual*/
#visual {
  position: relative;  
  display: inline-block;
  width: 100%;
  min-height: 720px;
  margin-top: -72px;
  background: url('../../images/main_bg.png') center center no-repeat;
  background-size: cover;
  text-align: center;
}
#visual .inner {
  width:1440px;
  margin:0 auto;
  display: inline-block;
}
#visual .inner .txt {
  width: 649px;
  height: 226px;
  margin-top: 225px; 
  color:#fff !important;
  text-align: left;;
}
#visual .inner .txt p {
  font-family: 'KBFGTextL';
  font-size: 22px !important;
  margin-top: 34px !important;
  color:#fff !important;
}

.my_what {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 360px;
  margin: 120px auto;
}
.my_what > .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.my_what > .inner .txt {
  width: 500px;
  float: left;
  margin-right: 68px;
}
.my_what > .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_what > .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}
.my_what > .inner .slide {
  float: left;
}
.my_what > .inner .slide div.bg_box {
  position: relative;
  width: 872px;
  height: 320px;
  background: #fff;
  border-radius: 4px;
  padding: 56px;
}
.my_what > .inner .slide div.bg_box .txt {
  float:left;
  width: 341px;
}

.my_what > .inner .slide div.bg_box .txt p {
  font-family: 'KBFGDisplayM';
  font-size: 32px;
  font-weight: 600;
  line-height: 26px;
  color:#1e1909;
}
.my_what > .inner .slide div.bg_box .txt span {
  font-family: 'KBFGTextM';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color:#757575;
}
.my_what > .inner .slide div.bg_box .img {
  position:absolute;
  right:0;
  margin-right: 58px;
  margin-top: 30px;
}

.my_how {
  position: relative;
  width: 100%;
  display: inline-block;
  min-height: 704px;
}
.my_how .box_bg {
  display: inline-block;
  background: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: right;
  padding: 80px;
  width: calc(100% -80px);
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
}

/*.my_how .box_bg .inner {
  height: 385px;
  background: url('../../images/main_illust_04.png') right bottom no-repeat;
  background-size: contain;
}*/
.my_how .box_bg .txt {
  float:left;
  width: 310px;
}
.my_how .box_bg .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_how .box_bg .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}
.my_how .box_bg .txt div {
  float:left;
}
.my_how .box_bg .img {
  margin-top:130px;
}
.my_how .box_bg .img img {
  width: 1140px;
}
.my_start {
  position: relative;
  width: 100%;
  display: inline-block;
}
.my_start .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.my_start .inner .txt {
  width: 500px;
  float: left;
  margin-right: 68px;
}
.my_start .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_start .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}
.my_use {
  position: relative;
  width: 100%;
  display: inline-block;
}
.my_use .inner {
  max-width: 1440px;
  margin: 0 auto;
}
.my_use .inner .txt {
  width: 390px;
  float: left;
  margin-right: 68px;
}
.my_use .inner .txt h3 {
  font-weight: 600;
  margin-bottom: 16px;
}
.my_use .inner .txt span {
  font-family: 'KBFGTextL';
  font-size: 18px;
  line-height: 30px;
}




/*footer*/
footer {display: none;}
.footer_wrap {
  float:left;
  /*display:inline-flex;*/
  width: 100%;
  position: relative;
  background: #f4f3f2;
}
.footer_wrap .inner {
  position: relative;
  display: inline-block;
  width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
}
.footer_wrap .inner ul.footmenu {
  float: left;
  width: 1020px;
  display: inline-block;
}
.footer_wrap .inner ul.footmenu li {
  float: left;
  margin-right: 140px;
  color: #261f19;
  font-family: "KBFGDisplayL";
  font-size: 16px;
}

.footer_wrap .inner ul.footmenu li:last-child {
  margin-right: 0;
}
.footer_wrap .inner ul.footmenu li a {
  color: #261f19;
}
.footer_wrap .inner ul.footmenu li a:link {
  text-decoration: none;
}
.footer_wrap .inner ul.footmenu li a:hover {
  color: #968d83;
}
.footer_wrap .inner ul.footmenu li ul {
  margin: 0;
}
.footer_wrap .inner ul.footmenu li ul li {
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  font-size: 14px;
  line-height: 30px;
}
.copyright {
  float: left;
  clear: both;
  margin-top: 70px !important;
  margin-bottom: 50px !important;
  font-family: "KBFGDisplayL";
  font-size: 14px;
}

/*text*/
textarea {
  margin-bottom: 10px;
}
textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #d8d8d8;
}

/*link*/

/*textfield
.v-text-field {
    max-width:240px !important;
}
*/

/*btn*/
button {
  font-family: "KBFGTextM"; /*KB금융본문체*/
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 25px 5px;
  padding: 0 16px;
  height: 40px;
  min-width: 80px;
  cursor: pointer;
}
button.primary {
  color: #fff !important;
}
button.secondary {
  color: #fff !important;
}
button.large {
  height: 50px;
  width: 160px;
  font-size: 16px;
  padding: 0 24px;
}
button.small {
  height: 32px;
  min-width: 0;
  padding:0 12px;
  font-size: 14px;
  padding: 0 10px;
}
button:disabled {
  opacity: 0.5;
  color: #fff;
  pointer-events: none;
}
button.box {
  border: 1px solid #504842;
  background-color: #fff;
  color: #504842;
}
button.round {
  border: 1px solid #504842;
  background-color: #fff;
  color: #504842;
  border-radius: 50px;
}
button.util {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  height: 32px;
  min-width: 0;
  padding: 0 10px;
  margin: 0;
}
button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}

button.primary:hover {
  background: #ffbc00 !important;
  color: #fff !important;
}
button.secondary:hover {
  background: #504842 !important;
  color: #fff !important;
}
button.util:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}





/*
button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #333;
  background-color:#fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  &[disabled]{
    cursor: not-allowed;
  }
  &.danger {
    background-color: #ff4949;
    color: #fff;
  }
  &.success {
    background-color: #13ce66;
    color: #fff;
  }
  &.info {
    background-color: #50bfff;
    color: #fff;
  }
}*/

/*pagebutton*/
.v-pagination__item {
  background: transparent;
  border-radius: 4px;
  font-size: 14px !important;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.v-pagination__navigation {
  height: 32px !important;
  width: 32px !important;
  min-width: 0 !important;
  max-width: 32px !important;
  font-size: 14px !important;
}

.v-pagination__navigation ul li button:first-child {
  width: 32px !important;
  min-width: 0 !important;
}


/*radio style*/
.boxradio input[type="radio"] {
  display: none;
}

.boxradio input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #dfdfdf;
  padding: 0px 10px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
}

.boxradio input[type="radio"]:checked + span {
  border: 1px solid #23a3a7;
  background: #23a3a7;
  color: #fff;
}

/*checkbox*/


/*input*/
input[type="text"] {
}
.v-text-field fieldset,
.v-text-field .v-input__control {
  max-width: 240px;
}
.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 0px !important;
}
.v-input input {
  max-height: 40px !important;
}

.v-text-field input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 6px 0 8px !important;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
}

.v-label {
  font-size: 14px !important;
  line-height: 1;
  min-height: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.v-text-field .v-label {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 5px !important;
  white-space: nowrap;
  pointer-events: none;
}
.v-text-field--outlined .v-label {
  top: 5px !important;
}
.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 14px !important;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-input .v-label {
  height: 0;
  line-height: 20px;
  letter-spacing: normal;
}

.v-text-field--enclosed .v-input__append-inner {
  margin-top:3px !important;
}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 40px !important;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
}

.v-list-item__title {
  align-self: center;
  font-size: 14px !important;
}

/*selectmenu*/
.v-menu__content {
  position: absolute;
  display: inline-block;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  contain: content;
  box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 20%), 0px 4px 5px 1px rgb(0 0 0 / 14%), 0px 3px 7px 2px rgb(0 0 0 / 12%);
  /*box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);*/
  border-radius: 4px;
}


/*errorpage*/
.error-page {
  /*position: absolute;
    top: 50%;  
    left: 50%;
    width: 500px; 
    height: 300px;
    margin-left: -250px;
    margin-top : -150px;
    */
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: table;
}
.error-page .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.error-page .inner img {
  margin: 20px auto;
}
.error-text {
  text-align: center;
}
.error-text .meg {}
.error-text .meg p {
  font-family: "KBFGTextM";
  font-size: 24px;
}
.error-text .meg span {
  font-family: "KBFGDisplayL";
  font-size: 16px;
}
.error-text .meg-btn {}

/*compoents*/
.viewpage {
  width: 600px;
  margin: 0 auto;
}

/*table*/
table {
  border-top:2px solid #504842;
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
  padding: 10px 0;
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
}
th:first-child {
  border-left: none;
}
th:last-child {
  border-right: none;
}
td {
  text-align: center;
  padding: 10px 0;
  border: 1px solid #d8d8d8;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

table.liner {
  border-collapse: collapse;
  width: 100%;
}
table.liner tr {
  border-top: 1px solid #d8d8d8;
}
table.liner tr:last-child {
  border-bottom: 1px solid #d8d8d8;
}
table.liner th {
  text-align: center;
  padding: 10px 0;
  background: #f5f5f5;
  border: none;
}
table.liner td {
  text-align: center;
  padding: 10px 0;
  border: none;
}

/**/
.tb_scroll {
  width: 100%;
  position: relative;
  float: left;
  height: 500px;
  margin: 0 auto;
}

.topbox1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  background: #edf1f5;
  width: 46%;
  border-top: 2px solid #504842;
}

.topbox2 {
  position: absolute;
  top: 0;
  left: 50%;
  height: 56px;
  background: #edf1f5;
  width: 46%;
  border-top: 0px;
}

.middlebox {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 297px;
}

.box2 {
  top: 0;
  left: 0;
  height: 297px;
  overflow-y: scroll;
  margin: 0 auto;
  width: 100%;
  float: left;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(179, 179, 179, 0.4);
}

.toptable1 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  border-collapse: collapse;
  z-index: 999;
  border-top: 0px;
}

.toptable1 th {
  top: 0;
  left: 0;
  border-collapse: collapse;
  background: #edf1f5;
  height: 54px;
  border-top: 0px;
}

.colr_table2 {
  border-collapse: collapse;
  border-top: none;
  width: 100%;
  float: left;
}

.colr_table2 th {
  border-top: none;
  text-align: center;
  font-size: 14px;
}

.fix_head {
  position: absolute;
  display: inline-table;
  width: calc(100% - 20px);
  left: -2px;
  border-top: 0px;
}

.w20 {
  width: 20%;
}

.w40 {
  width: 40%;
}
/**/



/*popup*/
#layerpop {  
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: table;
  background: #f5f5f5;
  width: 500px;
}
#layerpop .inner {
  padding: 30px;
}
#layerpop .inner .poptit {}
#layerpop .inner .poptit p {}
#layerpop .inner .poptit button {
  float: right;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  margin: 0;
  margin-top: -40px;
  padding: 0;
  height: 30px;
  min-width: 30px !important;
  color: #fff;
  cursor: pointer;
}
#layerpop .inner .poptit button i {
  color: black;
}
#layerpop .inner .popconts {
  padding: 20px;
}
#layerpop .inner .popconts div {
  overflow-y: auto;
  height: 200px;
}
#layerpop .inner .popbtn {
  text-align: center;
}

/*select*/
.v-select {
  max-width: 240px;
}

.v-select > .v-input__control > .v-input__slot {
  max-width: 100% !important;
}

.v-text-field fieldset, .v-text-field .v-input__control {
  max-width: 100% !important;
}


.form_phone {}
.form_phone .v-select {
  width:150px !important;
  float: left;
}
.form_phone .v-text-field {
  width:80px !important;
  float: left;
}


/*cardlist*/
.cardlist_wrap {
  width: 100%;
  display: inline-block;
  background-color: #efe9e1;
  padding: 120px 0; 
}
.cardlist_wrap .title {
  float: left;
  width: 464px;
  margin-left: 80px;
}
.cardlist_wrap .title h3 {
  font-family: 'KBFGDisplayM';
  font-size: 42px !important;
  font-weight: 600;
  line-height: 54px !important;
  color: #1e1909;
}
.cardlist_wrap .title span {
  clear: both;
  float: left;
  font-family: 'KBFGTextL';
  line-height: 30px !important;
  margin-bottom: 48px;
}
.cardlist_wrap .title .v-btn {
  clear: both;
  float: left;
  font-family: "KBFGTextM";
  font-weight: 600;
}
/*
.v-btn--icon.v-size--default {
  height: 0px !important;
  width: 0px !important;
}
*/
.cardlist_wrap .title .v-btn .v-icon {
  color: #ffbc00;
}
.cardlist {
  float: left;
  margin-top: 108px;
}
.cardlist .card {
  float: left;
  display: inline-block;
  width: 464px;
  height: 330px;
  margin-left: 24px;
  padding: 46px 43px 46px 46px;
  border-radius: 4px;
  box-shadow: 2px 6px 18px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
}
.cardlist .card .keyword {
  clear: both;
  font-family: "KBFGTextM";
  font-size: 16px !important;

}
.cardlist .card .keyword span {
  display: inline-block; 
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 12px;
  border-radius: 100px;
  background-color: #60584c;
  color:#fff;
  font-size: 14px;
}
.cardlist .card .keyword span.etc {
  background-color: #efe5d8;
  color:#4d4d4d;
}
.cardlist .card .cardtit {
  clear: both;
  float: left;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  margin: 28px 0 19px 0;
}
.cardlist .card .cardtxt {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 14px;
  line-height: 26px;
  color: #757575; 
  min-height: 70px;
}
.cardlist .card .cardinfo {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 12px;
  border-top: 1px solid #d8d8d8;
  padding-top: 22px;
  margin-top: 22px;
}
.cardlist .card .cardinfo div.name {
  float: left;
}
.cardlist .card .cardinfo div.board {
  float: right;
}
.cardlist .card .cardinfo div.board div {
  float: left;
  margin: 0 15px;
  cursor: pointer;
}



/*tooltip*/
.tooltip-top::before {
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  transform: translateX(-50%);
  position: absolute;
  z-index: -21;
  content: '';
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
}
.tooltip-top.error::before{
  border-top: solid 8px #ff6060;
}

.tooltip-top.success::before{
  border-top: solid 8px #1B5E20;
}
.tooltip-top.secondary::before{
  border-top: solid 8px #968D83;
}

.tooltip-top.primary::before{
  border-top: solid 8px #246fb3;
}

.tooltip-top.info::before{
  border-top: solid 8px #2196f3;
}


.tooltip-bottom::before{
  border-right: solid 8px transparent;
  border-left: solid 8px transparent;
  transform: translateX(-50%);
  position: absolute;
  z-index: -21;
  content: '';
  bottom: 100%;
  left: 50%;
  height: 0;
  width: 0;
}

.tooltip-bottom.error::before{
  border-bottom: solid 8px #ff6060;
}

.tooltip-bottom.success::before{
  border-bottom: solid 8px #1B5E20;
}
.tooltip-bottom.secondary::before{
  border-bottom: solid 8px #968D83;
}

.tooltip-bottom.primary::before{
  border-bottom: solid 8px #246fb3;
}

.tooltip-bottom.info::before{
  border-bottom: solid 8px #2196f3;
}


.tooltip-right::before{
  content: " ";
  position: absolute;
  top: 30%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-left: solid 8px transparent;
}

.tooltip-right.error::before{
  border-right: solid 8px #ff6060 !important;
}

.tooltip-right.success::before{
  border-right: solid 8px #1B5E20 !important;
}
.tooltip-right.secondary::before{
  border-right: solid 8px #968D83 !important;
}

.tooltip-right.primary::before{
  border-right: solid 8px #246fb3 !important;
}

.tooltip-right.info::before{
  border-right: solid 8px #2196f3 !important;
}

.tooltip-left::before{
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the left of the tooltip */
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  border-right: solid 8px transparent;
}

.tooltip-left.error::before{
  border-left: solid 8px #ff6060 !important;
}

.tooltip-left.success::before{
  border-left: solid 8px #1B5E20 !important;
}
.tooltip-left.secondary::before{
  border-left: solid 8px #968D83 !important;
}

.tooltip-left.primary::before{
  border-left: solid 8px #246fb3 !important;
}

.tooltip-left.info::before{
  border-left: solid 8px #2196f3 !important;
}



/*Toast*/
.toast {
  width: 250px; 
  height: 20px; 
  height:auto; 
  position: fixed; 
  left: 50%; 
  margin-left:-125px; 
  bottom: 100px; 
  z-index: 9999; 
  background-color: #504842; 
  color: #fff; 
  font-family: 'KBFGTextM'; 
  font-size: 14px; 
  padding: 10px; 
  text-align:center; 
  border-radius: 2px; 
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); 
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1); 
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);

}
