@charset "utf-8";

@import "reset.css";

/*font*/
@font-face {
  /*KB금융 본문체 Light*/
  font-family: "KBFGTextL";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGTextL.eot);
  src: url(../font//KBFGTextL.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGTextL.woff) format("woff");
}

@font-face {
  /*KB금융 본문체 Medium*/
  font-family: "KBFGTextM";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGTextM.eot);
  src: url(../font/KBFGTextM.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGTextM.woff) format("woff");
}

@font-face {
  /*KB금융 제목체 Medium*/
  font-family: "KBFGDisplayM";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGDisplayM.eot);
  src: url(../font/KBFGDisplayM.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGDisplayM.woff) format("woff");
}

@font-face { 
/*KB금융 제목체 Light*/
font-family: "KBFGDisplayL";
  font-style: normal;
  font-weight: normal;
  src: url(../font/KBFGDisplayL.eot);
  src: url(../font/KBFGDisplayL.eot?#iefix) format("embedded-opentype"),
    url(../font/KBFGDisplayL.woff) format("woff");
} 

/*layout*/

/*headline*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "KBFGDisplayM";
}
h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 84px;
}
h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 60px;
}
h3 {
  font-size: 48px;
  font-weight: normal;
  line-height: 60px;
}
h4 {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}
h5 {
  font-size: 22px;
  font-weight: normal;
  line-height: 32px;
}
h6 {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

#app {
  font-family: "KBFGTextM";
}
.v-application {
  font-family: "KBFGTextM";
}
.v-application ul {
  padding-left: 0px !important;
}

body {
  font-family: "KBFGTextM";
  font-size: 16px;
  font-weight: normal;
  line-height: 42px;
  color: #1e1909;
}

div {
  font-family: "KBFGTextM";
}

/*layout*/
.container {
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

/*visual*/
#visual {
  position: relative;
}

/*gnb*/
#gnb {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 72px;
  background: -webkit-linear-gradient(
    rgba(20, 11, 1, 1) 72px,
    rgba(20, 11, 1, 0.2) 72px
  );
  transition: 0.3s ease-in;
  overflow: hidden;
}
/*
nav {
    width:1440px; 
    margin:0 auto;
    font-family:  "KBFGTextM", "sans-serif";
    font-size: 20px;
    color:#fff;
}
nav > ul > li {float:left; position: relative; padding:20px 0; margin-right: 72px;}
nav > ul > li:first-child {margin-right: 235px;}
nav > ul > li:last-child {margin-right:0;}
nav > ul > li ul{ width:100%; opacity:0; position: absolute; transition:0.3s 0.2s;}
nav > ul > li ul li{white-space:nowrap; font-family: 'KBFGDisplayL'; font-size:16px;}
nav > ul > li:hover ul{opacity:1; }

nav > ul > li.logo img {
    width: 177px;
    height: 30px;
}
*/

/*maincontents*/
.section {
  background: #f4f3f2;
}

/*footer*/
#footer {
  width: 100%;
  position: relative;
  background: #f4f3f2;
  text-align: center;
}
#footer .inner {
  position: relative;
  display: inline-block;
  width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
}
#footer .inner ul.footMenu {
  float: left;
  width: 1020px;
  display: inline-block;
}
#footer .inner ul.footMenu li {
  float: left;
  margin-right: 190px;
  color: #261f19;
  font-family: "KBFGDisplayM";
  font-size: 16px;
}
#footer .inner ul.footMenu li:last-child {
  margin-right: 0;
}
#footer .inner ul.footMenu li a {
  color: #261f19;
}
#footer .inner ul.footMenu li a:link {
  text-decoration: none;
}
#footer .inner ul.footMenu li a:hover {
  color: #968d83;
}
#footer .inner ul.footMenu li ul {
  margin: 0;
}
#footer .inner ul.footMenu li ul li {
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  font-size: 14px;
  line-height: 30px;
}
.copyright {
  float: left;
  clear: both;
  margin-top: 70px !important;
  margin-bottom: 50px !important;
  font-family: "KBFGDisplayL";
  font-size: 14px;
}

/*text*/
textarea {
  margin-bottom: 10px;
}
textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #d8d8d8;
}

/*link*/

/*textfield
.v-text-field {
    max-width:240px !important;
}
*/

/*btn*/
button {
  font-family: "KBFGTextM"; /*KB금융본문체*/
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin: 25px 5px;
  padding: 0 16px;
  height: 40px;
  min-width: 80px;
  cursor: pointer;
}
button.primary {
  color: #fff !important;
}
button.secondary {
  color: #fff !important;
}


button.large {
  height: 50px;
  width: 160px;
  font-size: 16px;
  padding: 0 24px;
}
button.small {
  height: 32px;
  min-width: 0;
  padding:0 12px;
  font-size: 14px;
  padding: 0 10px;
}

button:disabled {
  opacity: 0.5;
  color: #fff;
  pointer-events: none;
}

button.box {
  border: 1px solid #504842;
  background-color: #fff;
  color: #504842;
}
button.round {
  border: 1px solid #504842;
  background-color: #fff;
  color: #504842;
  border-radius: 50px;
}

button:active,
button:hover,
button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}

button.primary:hover {
  background: #ffbc00 !important;
  color: #fff !important;
}
button.secondary:hover {
  background: #504842 !important;
  color: #fff !important;
}





/*
button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #333;
  background-color:#fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  &[disabled]{
    cursor: not-allowed;
  }
  &.danger {
    background-color: #ff4949;
    color: #fff;
  }
  &.success {
    background-color: #13ce66;
    color: #fff;
  }
  &.info {
    background-color: #50bfff;
    color: #fff;
  }
}*/

/*pagebutton*/
.v-pagination__item {
  background: transparent;
  border-radius: 4px;
  font-size: 14px !important;
  height: 34px;
  margin: 0.3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  width: auto;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.v-pagination__navigation {
  height: 32px !important;
  width: 32px !important;
  min-width: 0 !important;
  max-width: 32px !important;
  font-size: 14px !important;
}

.v-pagination__navigation ul li button:first-child {
  width: 32px !important;
  min-width: 0 !important;
}


/*radio style*/
.boxradio input[type="radio"] {
  display: none;
}

.boxradio input[type="radio"] + span {
  display: inline-block;
  background: none;
  border: 1px solid #dfdfdf;
  padding: 0px 10px;
  text-align: center;
  height: 35px;
  line-height: 33px;
  font-weight: 500;
  cursor: pointer;
}

.boxradio input[type="radio"]:checked + span {
  border: 1px solid #23a3a7;
  background: #23a3a7;
  color: #fff;
}

/*checkbox*/


/*input*/
input[type="text"] {
}
.v-text-field fieldset,
.v-text-field .v-input__control {
  max-width: 240px;
}
.v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot {
  align-items: stretch;
  min-height: 0px !important;
}
.v-input input {
  max-height: 40px !important;
}

.v-text-field input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 6px 0 8px !important;
  max-width: 100%;
  min-width: 0px;
  width: 100%;
}

.v-label {
  font-size: 14px !important;
  line-height: 1;
  min-height: 8px;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}
.v-text-field .v-label {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 5px !important;
  white-space: nowrap;
  pointer-events: none;
}
.v-text-field--outlined .v-label {
  top: 5px !important;
}
.v-input {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-size: 14px !important;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
}

.v-input .v-label {
  height: 0;
  line-height: 20px;
  letter-spacing: normal;
}

.v-text-field--enclosed .v-input__append-inner {
  margin-top:3px !important;
}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 40px !important;
  outline: none;
  padding: 0 16px;
  position: relative;
  text-decoration: none;
}

.v-list-item__title {
  align-self: center;
  font-size: 14px !important;
}

/*selectmenu*/
.v-menu__content {
  position: absolute;
  display: inline-block;
  max-width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  contain: content;
  box-shadow: 0px 2px 2px -1px rgb(0 0 0 / 20%), 0px 4px 5px 1px rgb(0 0 0 / 14%), 0px 3px 7px 2px rgb(0 0 0 / 12%);
  /*box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);*/
  border-radius: 4px;
}


/*errorpage*/
.error-page {
  /*position: absolute;
    top: 50%;  
    left: 50%;
    width: 500px; 
    height: 300px;
    margin-left: -250px;
    margin-top : -150px;
    */
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: table;
}
.error-page .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.error-page .inner img {
  margin: 30px auto;
}
.error-text {
  text-align: center;
}
.error-text .meg {
}
.error-text .meg p {
  font-family: "KBFGTextM";
  font-size: 24px;
}
.error-text .meg span {
  font-family: "KBFGDisplayL";
  font-size: 16px;
}
.error-text .meg-btn {
  
}

/*compoents*/
.viewpage {
  width: 600px;
  margin: 0 auto;
}

/*table*/
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: center;
  padding: 10px 0;
  background: #f5f5f5;
  border: 1px solid #d8d8d8;
}
th:first-child {
  border-left: none;
}
th:last-child {
  border-right: none;
}
td {
  text-align: center;
  padding: 10px 0;
  border: 1px solid #d8d8d8;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

table.liner {
  border-collapse: collapse;
  width: 100%;
}
table.liner tr {
  border-top: 1px solid #d8d8d8;
}
table.liner tr:last-child {
  border-bottom: 1px solid #d8d8d8;
}
table.liner th {
  text-align: center;
  padding: 10px 0;
  background: #f5f5f5;
  border: none;
}
table.liner td {
  text-align: center;
  padding: 10px 0;
  border: none;
}

/*popup*/
#layerpop {
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: table;
  background: #f5f5f5;
}
#layerpop .inner {
  padding: 30px;
}
#layerpop .inner .poptit {
}
#layerpop .inner .poptit p {
}
#layerpop .inner .poptit button {
  float: right;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
  margin: 0;
  margin-top: -40px;
  padding: 0;
  height: 30px;
  min-width: 30px !important;
  color: #fff;
  cursor: pointer;
}
#layerpop .inner .poptit button i {
  color: black;
}
#layerpop .inner .popconts {
  padding: 20px;
}
#layerpop .inner .popconts div {
  overflow-y: auto;
  height: 200px;
}
#layerpop .inner .popbtn {
  text-align: center;
}

/*select*/
.v-select {
  max-width: 240px;
}

.v-select > .v-input__control > .v-input__slot {
  max-width: 100% !important;
}

.v-text-field fieldset, .v-text-field .v-input__control {
  max-width: 100% !important;
}


.form_phone {}
.form_phone .v-select {
  width:150px !important;
  float: left;
}
.form_phone .v-text-field {
  width:80px !important;
  float: left;
}


/*cardlist*/
.cardlist_wrap {
  width: 100%;
  display: inline-block;
  background-color: #efe9e1;
  padding: 120px 0; 
}
.cardlist_wrap .title {
  float: left;
  width: 464px;
  margin-left: 80px;
}
.cardlist_wrap .title h3 {
  font-family: 'KBFGDisplayM';
  font-size: 42px !important;
  font-weight: 600;
  line-height: 54px !important;
  color: #1e1909;
}
.cardlist_wrap .title span {
  clear: both;
  float: left;
  font-family: 'KBFGTextL';
  line-height: 30px !important;
  margin-bottom: 48px;
}
.cardlist_wrap .title .v-btn {
  clear: both;
  float: left;
  font-family: "KBFGTextM";
  font-weight: 600;
}
.v-btn--icon.v-size--default {
  height: 0px !important;
  width: 0px !important;
}
.cardlist_wrap .title .v-btn .v-icon {
  color: #ffbc00;
}
.cardlist {
  float: left;
  margin-top: 108px;
}
.cardlist .card {
  float: left;
  display: inline-block;
  width: 464px;
  height: 330px;
  margin-left: 24px;
  padding: 46px 43px 46px 46px;
  border-radius: 4px;
  box-shadow: 2px 6px 18px 0 rgba(0, 0, 0, 0.13);
  background: #fff;
}
.cardlist .card .keyword {
  clear: both;
  font-family: "KBFGTextM";
  font-size: 16px !important;

}
.cardlist .card .keyword span {
  display: inline-block; 
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 12px;
  border-radius: 100px;
  background-color: #60584c;
  color:#fff;
  font-size: 14px;
}
.cardlist .card .keyword span.etc {
  background-color: #efe5d8;
  color:#4d4d4d;
}
.cardlist .card .cardtit {
  clear: both;
  float: left;
  font-family: 'KBFGTextM';
  font-size: 24px;
  font-weight: 600;
  margin: 28px 0 19px 0;
}
.cardlist .card .cardtxt {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 14px;
  line-height: 26px;
  color: #757575; 
  min-height: 70px;
}
.cardlist .card .cardinfo {
  clear: both;
  font-family: 'KBFGTextM';
  font-size: 12px;
  border-top: 1px solid #d8d8d8;
  padding-top: 22px;
  margin-top: 22px;
}
.cardlist .card .cardinfo div.name {
  float: left;
}
.cardlist .card .cardinfo div.board {
  float: right;
}
.cardlist .card .cardinfo div.board div {
  float: left;
  margin: 0 15px;
  cursor: pointer;
}
