@charset "utf-8";

/*font*/
@font-face { /*KB금융 본문체 Light*/
    font-family:"KBFGTextL";
    font-style:normal;
    font-weight:normal;
    src:    url("/assets/font/KBFGTextL.woff") format("woff")
}
@font-face { /*KB금융 본문체 Medium*/
    font-family:"KBFGTextM";
    font-style:normal;
    font-weight:normal;
    src: 
    url("/assets/font/KBFGTextM.woff") format("woff")
}

@font-face { /*KB금융 제목체 Medium*/
    font-family:"KBFGDisplayM";
    font-style:normal;
    font-weight:normal;
    src:
    url("/assets/font/KBFGDisplayM.woff") format("woff")
}

@font-face { /*KB금융 제목체 Light*/
    font-family:"KBFGDisplayL";
    font-style:normal;
    font-weight:normal;
    src:
    url("/assets/font/KBFGDisplayM.woff") format("woff")
}