
/*main*/
#main {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #F4F3F2;
  }
  
  /*visual*/
  #visual {
    position: relative;  
    display: inline-block;
    width: 100%;
    min-height: 720px;
    /*margin-top: -72px;*/
    background: url('../../images/main_bg.png') center center no-repeat;
    background-size: cover;   
    text-align: center;
  }
  #visual .inner {
    width:1440px;
    margin:0 auto;
    display: inline-block;
  }
  #visual .inner .txt {
    width: 649px;
    height: 226px;
    margin-top: 225px; 
    color:#fff !important;
    text-align: left;;
  }
  #visual .inner .txt p {
    font-family: 'KBFGTextL';
    font-size: 22px !important;
    margin-top: 34px !important;
    color:#fff !important;
  }
  
  .my_what {
    position: relative;
    width: 100%;
    display: inline-block;
    min-height: 360px;
    margin: 120px auto;
  }
  .my_what > .inner {
    max-width: 1440px;
    margin: 0 auto;
  }
  .my_what > .inner .txt {
    width: 500px;
    float: left;
    margin-right: 68px;
  }
  .my_what > .inner .txt h3 {
    font-weight: 600;
    margin-bottom: 16px;
  }
  .my_what > .inner .txt span {
    font-family: 'KBFGTextL';
    font-size: 18px;
    line-height: 30px;
  }
  
  .my_what > .inner .slider {
    float: left;
    width: 872px;
    height: 388px;
    overflow: hidden;
  }
  .my_what > .inner ul li {
    display: inline-block;
  }
  .my_what > .inner .slider div.bg_box {
    position: relative;
    width: 872px;
    height: 320px;
    background: #fff;
    border-radius: 4px;
    padding: 56px;
    margin-bottom: 65px;
  }
  .my_what > .inner .slider div.bg_box .txt {
    float:left;
    width: 341px;
  }
  
  .my_what > .inner .slider div.bg_box .txt p {
    font-family: 'KBFGDisplayM';
    font-size: 32px;
    font-weight: 600;
    line-height: 26px;
    color:#1e1909;
    margin-bottom: 24px;
  }
  .my_what > .inner .slider div.bg_box .txt span {
    font-family: 'KBFGTextM';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.48px;
    color:#757575;
  }
  .my_what > .inner .slider div.bg_box .img {
    position:absolute;
    right:0;
    margin-right: 58px;
    margin-top: 30px;
  }
  
  
  /**/
  .section04 .container {position: relative; height: 14rem;}
  .section04 .container:before {position: absolute; bottom: -2rem; right: -6rem; content: url("/images/template/00002/main/section042Bg.png"); transform: scale(0); -webkit-transform: scale(0); transition: all .3s .1s; -webkit-transition: all .3s .1s;}
  .section04 .MC_box1 {position: relative; float: left; padding: 3.5rem 1.5rem 1.5rem 0; width: 14.5rem; height: 100%;}
  .section04 .MC_box1:before {position: absolute; top: 0; right: 0; width: 0; height: 100%; background: #007bc7 url("/images/template/00002/main/section04Bg.png") no-repeat bottom right; box-shadow: 10px 10px 10px rgba(0,21,130,0.1); content: ""; z-index: -1;}
  .section04 .MC_box1 h3 {color: #fff;}
  .section04 .MC_box1 p {font-family: 'NotoSans';}
  .section04 .MC_box1 h3 + p {margin-top: 0.5rem; line-height: 1.5; color: #97c9e7;}
  .section04 .MC_box1 h3 + p + p {margin-top: 2rem; text-align: right;}
  .section04 .MC_box1 h3 + p + p a {display: inline-block; width: 100%; max-width: 11rem; height: 2.5rem; line-height: 2.5rem; text-align: center; font-weight: 200; color: #fff;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#017cc7+0,3395d2+100 */
  background: rgb(1,124,199); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(1,124,199,1) 0%, rgba(51,149,210,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017cc7', endColorstr='#3395d2',GradientType=1 ); /* IE6-9 */
  }
  .section04 .MC_box2 {float: left; margin-left: 1.5rem; width: calc(100% - 16rem); overflow: hidden;}
  #slide04 {width: 100%;}
  #slide04:after {clear: both; display: block; width: 100%; content: "";}
  #slide04 .slideEl {float: left; margin-left: 1rem;}
  #slide04 .slideEl a {position: relative; display: block; padding: 1.5rem; height: 10rem; background: #fff; border: 1px solid #d2d2d2;}
  #slide04 .slideEl.slick-current.slick-active a,
  #slide04 .slideEl a:hover {border: 1px solid; border-image-slice: 1; border-image-source: linear-gradient(to left, #28acc4, #1d2088); box-shadow: 3px 3px 7px rgba(0,21,130,0.35);}
  #slide04 .slideEl .tag {display: inline-block; padding: 0 1rem; height: 1.8rem; line-height: 1.8rem; font-size: 0.7rem; color: #fff; overflow: hidden;}
  #slide04 .slideEl .more {position: absolute; top: 1.5rem; right: 1.5rem; width: 1rem; height: 1rem; line-height: 1rem; text-align: center; font-size: 1.5rem; color: #000;}
  #slide04 .slideEl .tag.type1 {background: #007bc7;}
  #slide04 .slideEl .tag.type2 {background: #aacd06;}
  #slide04 .slideEl .tag.type3 {background: #1d2088;}
  #slide04 .slideEl .tit {margin-top: 0.5rem; height: 2.5rem; line-height: 1.25rem; font-weight: 400; color: #000; overflow: hidden;}
  #slide04 .slideEl .txt {margin-top: 0.75rem; height: 1rem; line-height: 1rem; font-size: 0.7rem; color: #6e6e6e; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
  #slide04 .slick-dots {display: none !important;}
  .section04 .MC_box2 .control {margin-top: 1rem; width: 100%; text-align: center;}
  .section04 .MC_box2 .control button {display: inline-block; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; color: #fff; background: #95a3b7; border-radius: 50%;}
  .section04 .MC_box2 .control #slide04Play {display: none;}
  .section04 .MC_box2 .pagingInfo {display: inline-block; width: 4rem; height: 2rem; font-family: 'Sora'; font-size: 0.8rem; font-weight: normal; color: #95a3b7;}
  .section04 .MC_box2 .pagingInfo em {display: inline-block;}
  .section04 .MC_box2 .pagingInfo .now {font-weight: 600; color: #007bc7;}
  .section04 .MC_box2 .pagingInfo .total {position: relative; padding-left: 1rem;}
  .section04 .MC_box2 .pagingInfo .total:before {position: absolute; top: 50%; left: 0.5rem; width: 1px; height: 15px; background: #95a3b7; transform: translateY(-50%) rotate(25deg); -webkit-transform: translateY(-50%) rotate(25deg); content: "";}
  /* active */
  .section04.action .container:before {transform: scale(1) rotate(180deg); -webkit-transform: scale(1) rotate(180deg);}
  .section04.action .MC_box1:before {width: 300%; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;}
  
  /**/
  
  /*bxslider*/
  .bx-wrapper { 
    -moz-box-shadow: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;  
    border: 0; 
   }
  
  
  .my_how {
    position: relative;
    width: 100%;
    display: inline-block;  
    background: #fff;
    min-height: 704px;
    padding:80px 0;
  }
  .my_how .inner {
    max-width: 1440px;
    margin: 0 auto; 
     
  }
  .my_how .inner .txt {
    float:left;
    width: 310px;
  }
  .my_how .inner .txt h3 {
    font-weight: 600;
    margin-bottom: 16px;
  }
  .my_how .inner .txt span {
    font-family: 'KBFGTextL';
    font-size: 18px;
    line-height: 30px;
  }
  .my_how .inner .img {
    position: absolute;
    display: block;
    height: 385px;
    width: 1140px;
    overflow: hidden;
    background: url('../../images/main_illust_04.png') no-repeat;
    margin-left: 310px;
    margin-top: 120px;
  }
  .my_how .inner .txt div {
    clear: both;
    margin-top: 50px !important;
  }
  .my_how .inner .txt div button {
    margin:0 !important;
    padding:0 !important;
    font-size: 16px !important;
  }
  
  
  .my_start {
    position: relative;
    width: 100%;
    display: inline-block;
    padding: 120px 0;
  }
  .my_start .inner {
    max-width: 1440px;
    margin: 0 auto;
  }
  .my_start .inner .txt {
    width: 330px;
    float: left;
    margin-right: 158px;
  }
  .my_start .inner .txt h3 {
    font-weight: 600;
    margin-bottom: 16px;
  }
  .my_start .inner .txt span {
    font-family: 'KBFGTextL';
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  .my_start .inner .boxitem {
    float: left;
    display: inline-block;
  }
  .my_start .inner .boxitem .box {
    width: 464px;
    height: 516px;
    background: #fff;
    border-radius: 4px;
  }
  .my_start .inner .boxitem .box .img1 {
    background: url(../../images/main_img_begin.png) left center no-repeat;
    width: 464px;
    height: 304px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  .my_start .inner .boxitem .box .img2 {
    background: url(../../images/main_img_mater.png) left center no-repeat;
    width: 464px;
    height: 304px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
  .my_start .inner .boxitem ul li {
    float: left;
    margin-right:24px;
  }
  .my_start .inner .boxitem ul li:last-child {
    margin-right: 0;
  }
  
  .my_start .inner .boxitem .box .text {
    display: inline-block;
    padding:40px;
  }
  .my_start .inner .boxitem .box .text p {
    font-family: 'KBFGTextM';
    font-size: 24px;
    font-weight: 600;
    color:#1e1909;
  }
  .my_start .inner .boxitem .box .text span {
    display: inline-block;
    font-family: 'KBFGTextM';
    font-size: 16px;
    color:#757575;
    padding: 10px 0 20px;
  }
  .my_start .inner .boxitem .box .text .tag {
    font-family: 'KBFGTextM';
    font-size: 14px;
    line-height: 26px;
    color:#504842;
  }
  .banr {
    position: absolute;
    width: 100%;
    margin-top:-80px;
  }
  .banr .inner  {
    width: 1440px;
    min-height: 217px;
    margin: 0 auto;    
    background: #504842;
    border-radius: 4px;
    color:#fff;   
    padding:75px 80px;
  }
  .banr .inner  div {
    float: left;
  }
  .banr .inner .title {  
    padding-left:110px;
    width: 350px;
    margin-right:100px; 
    text-align: left;
    font-family: 'KBFGTextL' !important;
    font-size: 24px !important;
    font-weight: 600;
    background: url(../../images/main_icon_05.png) left center no-repeat;
  }
  .banr .inner .title span {
    background: linear-gradient(to top, rgba(17, 23, 69, 0.15) 50%, transparent 50%);
    padding:0 1px;
    position: absolute;
  }
  .banr .inner .meg {
    font-family: 'KBFGTextL';
    font-size: 18px;
    max-width:525px;
    margin-right:145px;
  }
  .banr .inner button {margin:0 !important; }
  
  
  
  /*cardlist*/
  .my_data {
    width:100%;
    display: inline-block;
    position: relative;
    margin-top: 240px;
    min-height: 720px;
  }
  .my_data .inner {
    width:1440px;
    margin:0 auto;
  }
  .my_data .inner .txt {
    width: 390px;
    float: left;
    margin-right: 98px;
  }
  .my_data .inner .txt h3 {
    font-weight: 600;
    margin-bottom: 16px;
  }
  .my_data .inner .txt span {
    font-family: 'KBFGTextL';
    font-size: 18px;
    line-height: 30px;
  }
  .my_data .inner .txt div {
    clear: both;
    margin-top: 50px !important;
  }
  .my_data .inner .txt div button {
    margin:0 !important;
    padding:0 !important;
    font-size: 16px !important;
    background: none;
  }
  .my_data .inner .txt div button:hover {
    background: none !important;
  }
  .my_data .inner .txt div button i {color:#ffbc00;}
  .my_data .slider {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 497px;
    overflow: hidden;
    margin-top: 132px;
  }
  .my_data .slider ul li {float: left;}
  .my_data .slider .card_list {
    display: inline-block;
    width: 342px;
    height: 497px;
    margin: 0 12px;
  }
  .card_list .card_profile {
    display: inline-block;
    width: 100%;
    margin-bottom: 31px;
  }
  .card_list .card_profile .profile {
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    overflow: hidden;  
  }
  .card_list .card_profile .profile img {
    width: 56px;
    height: 56px;
  }
  .card_list .profile_txt {
    float: left;
    margin-left: 16px;
    min-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card_list .profile_txt h6 {
    font-weight: 600; 
    margin-bottom: 8px;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .card_list .profile_txt .profile_info {}
  .card_list .profile_txt .profile_info ul li {
    float:left;
    font-family: 'KBFGTextM';
    font-size: 14px;
    color: #757575;
    margin-right:17px;
  }
  .card_list .profile_txt .profile_info ul li:last-child {
    float: right;
    margin-right:0;
  }
  .card_list .profile_txt .profile_info ul li span {
    display: inline-block;
    border: 1px solid #473eab;
    border-radius: 4px;
    color: #473eab;
    font-family: 'KBFGTextM';
    font-size: 12px;
    padding: 4px 8px;
  }
  .my_data .slider .card_list .card_board {
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
  }
  .card_list .card_board .board_img {}
  .card_list .card_board .board_txt {
    margin-top: 32px;
    font-family: 'KBFGTextM';
    font-size: 16px;
    line-height: 24px;
    color: #757575;
    max-height: 73px;
    max-width: 342px;
    overflow: hidden;
    white-space: pre-line;
    text-overflow: ellipsis;
  }
  
  .my_data .slider .card_list .card_sns {
    border-top:1px solid #d8d8d8;
    padding-top:24px;
  }
  .card_list .card_sns div {
    float: left; 
    margin-right: 24px;
  }
  
  
  
  
  
  .my_data .slider .card {
    display: inline-block;
    width: 464px;
    height: 330px;
    margin-left: 24px;
    margin-bottom: 24px;
    padding: 46px 43px 46px 46px;
    border-radius: 4px;
    box-shadow: 2px 6px 18px 0 rgba(0, 0, 0, 0.13);
    background: #fff;
  }
  .my_data .slider .card .keyword {
    clear: both;
    font-family: "KBFGTextM";
    font-size: 16px !important;
  
  }
  .my_data .slider .card .keyword span {
    display: inline-block; 
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 12px;
    border-radius: 100px;
    background-color: #60584c;
    color:#fff;
    font-size: 14px;
  }
  .my_data .slider .card .keyword span.etc {
    background-color: #efe5d8;
    color:#4d4d4d;
  }
  .my_data .slider .card .cardtit {
    clear: both;
    float: left;
    font-family: 'KBFGTextM';
    font-size: 24px;
    font-weight: 600;
    margin: 28px 0 19px 0;
  }
  .my_data .slider .card .cardtxt {
    clear: both;
    font-family: 'KBFGTextM';
    font-size: 14px;
    line-height: 24px;
    color: #757575; 
    min-height: 70px;
  }
  .my_data .slider .card .cardinfo {
    clear: both;
    font-family: 'KBFGTextM';
    font-size: 12px;
    border-top: 1px solid #d8d8d8;
    padding-top: 22px;
    margin-top: 22px;
  }
  .my_data .slider .card .cardinfo div.name {
    float: left;
  }
  .my_data .slider .card .cardinfo div.board {
    float: right;
  }
  .my_data .slider .card .cardinfo div.board div {
    float: left;
    margin: 0 15px;
    cursor: pointer;
  }
  
  .control_btn {
    clear: both;
    float: left;
    display: inline-block;
    width: 130px;
    margin-top: 160px;
  }
  .control_btn ul li {
    float:left;
    font-family: 'KBFGTextL';
    font-size: 22px;
    line-height: 26px;
    color: #968d83;
    cursor: pointer;
   }
  .control_btn ul li span.bar {
    display: inline-block;
    width: 2px;
    height: 16px;
    margin: 0 11px;
    background: url(../../images/swipe_icon_bar.png) left center no-repeat;
    overflow: visible;
  }
  
  
  /**/
  .section04 .container {position: relative; height: 14rem;}
  .section04 .container:before {position: absolute; bottom: -2rem; right: -6rem; content: url("/images/template/00002/main/section042Bg.png"); transform: scale(0); -webkit-transform: scale(0); transition: all .3s .1s; -webkit-transition: all .3s .1s;}
  .section04 .MC_box1 {position: relative; float: left; padding: 3.5rem 1.5rem 1.5rem 0; width: 14.5rem; height: 100%;}
  .section04 .MC_box1:before {position: absolute; top: 0; right: 0; width: 0; height: 100%; background: #007bc7 url("/images/template/00002/main/section04Bg.png") no-repeat bottom right; box-shadow: 10px 10px 10px rgba(0,21,130,0.1); content: ""; z-index: -1;}
  .section04 .MC_box1 h3 {color: #fff;}
  .section04 .MC_box1 p {font-family: 'NotoSans';}
  .section04 .MC_box1 h3 + p {margin-top: 0.5rem; line-height: 1.5; color: #97c9e7;}
  .section04 .MC_box1 h3 + p + p {margin-top: 2rem; text-align: right;}
  .section04 .MC_box1 h3 + p + p a {display: inline-block; width: 100%; max-width: 11rem; height: 2.5rem; line-height: 2.5rem; text-align: center; font-weight: 200; color: #fff;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#017cc7+0,3395d2+100 */
  background: rgb(1,124,199); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(1,124,199,1) 0%, rgba(51,149,210,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(1,124,199,1) 0%,rgba(51,149,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#017cc7', endColorstr='#3395d2',GradientType=1 ); /* IE6-9 */
  }
  .section04 .MC_box2 {float: left; margin-left: 1.5rem; width: calc(100% - 16rem); overflow: hidden;}
  #slide04 {width: 100%;}
  #slide04:after {clear: both; display: block; width: 100%; content: "";}
  #slide04 .slideEl {float: left; margin-left: 1rem;}
  #slide04 .slideEl a {position: relative; display: block; padding: 1.5rem; height: 10rem; background: #fff; border: 1px solid #d2d2d2;}
  #slide04 .slideEl.slick-current.slick-active a,
  #slide04 .slideEl a:hover {border: 1px solid; border-image-slice: 1; border-image-source: linear-gradient(to left, #28acc4, #1d2088); box-shadow: 3px 3px 7px rgba(0,21,130,0.35);}
  #slide04 .slideEl .tag {display: inline-block; padding: 0 1rem; height: 1.8rem; line-height: 1.8rem; font-size: 0.7rem; color: #fff; overflow: hidden;}
  #slide04 .slideEl .more {position: absolute; top: 1.5rem; right: 1.5rem; width: 1rem; height: 1rem; line-height: 1rem; text-align: center; font-size: 1.5rem; color: #000;}
  #slide04 .slideEl .tag.type1 {background: #007bc7;}
  #slide04 .slideEl .tag.type2 {background: #aacd06;}
  #slide04 .slideEl .tag.type3 {background: #1d2088;}
  #slide04 .slideEl .tit {margin-top: 0.5rem; height: 2.5rem; line-height: 1.25rem; font-weight: 400; color: #000; overflow: hidden;}
  #slide04 .slideEl .txt {margin-top: 0.75rem; height: 1rem; line-height: 1rem; font-size: 0.7rem; color: #6e6e6e; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
  #slide04 .slick-dots {display: none !important;}
  .section04 .MC_box2 .control {margin-top: 1rem; width: 100%; text-align: center;}
  .section04 .MC_box2 .control button {display: inline-block; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; color: #fff; background: #95a3b7; border-radius: 50%;}
  .section04 .MC_box2 .control #slide04Play {display: none;}
  .section04 .MC_box2 .pagingInfo {display: inline-block; width: 4rem; height: 2rem; font-family: 'Sora'; font-size: 0.8rem; font-weight: normal; color: #95a3b7;}
  .section04 .MC_box2 .pagingInfo em {display: inline-block;}
  .section04 .MC_box2 .pagingInfo .now {font-weight: 600; color: #007bc7;}
  .section04 .MC_box2 .pagingInfo .total {position: relative; padding-left: 1rem;}
  .section04 .MC_box2 .pagingInfo .total:before {position: absolute; top: 50%; left: 0.5rem; width: 1px; height: 15px; background: #95a3b7; transform: translateY(-50%) rotate(25deg); -webkit-transform: translateY(-50%) rotate(25deg); content: "";}
  /* active */
  .section04.action .container:before {transform: scale(1) rotate(180deg); -webkit-transform: scale(1) rotate(180deg);}
  .section04.action .MC_box1:before {width: 300%; transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;}


  
.my_guide {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-bottom: 200px;
  }
  .my_guide .inner {
    width: 1440px;
    margin: 0 auto;
  }
  .my_guide .inner .txt {
    float: left;
  }
  .my_guide .inner .txt h3 {
    font-weight: 600;
    margin-bottom: 48px;
  }
  .v-parallax__content {
    color: #FFFFFF;
    height: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }
  .v-parallax__content .inner {
    width: 1440px;
    margin: 0 auto;
    z-index: 20;
  }
  .v-parallax__content .inner .txt {
    float: left;
  }
  
  .v-parallax__content .inner .guidebox {
    clear: both;
    display: inline-block;
    width: 1440px;
    background: #fff;
    border-radius: 4px;
    padding: 56px 80px;
  }
  .v-parallax__content .inner .guidebox .box {
    float: left;
    margin-right: 175px;
  }
  .last {
    margin-right: 0 !important;
  }
  .v-parallax__content .inner .guidebox .box p.g01 {
    background: url(../../images/main_icon_01.png) top left no-repeat;
    padding-top: 40px;
    font-family: 'KBFGTextM';
    font-size: 24px;
    font-weight: 600;
    color: #1e1909;
    margin-bottom: 16px;
  }
  .v-parallax__content .inner .guidebox .box p.g02 {
    background: url(../../images/main_icon_02.png) top left no-repeat;
    padding-top: 40px;
    font-family: 'KBFGTextM';
    font-size: 24px;
    font-weight: 600;
    color: #1e1909;
    margin-bottom: 16px;
  }
  .v-parallax__content .inner .guidebox .box p.g03 {
    background: url(../../images/main_icon_03.png) top left no-repeat;
    padding-top: 40px;
    font-family: 'KBFGTextM';
    font-size: 24px;
    font-weight: 600;
    color: #1e1909;
    margin-bottom: 16px;
  }
  .v-parallax__content .inner .guidebox .box p.g04 {
    background: url(../../images/main_icon_04.png) top left no-repeat;
    padding-top: 40px;
    font-family: 'KBFGTextM';
    font-size: 24px;
    font-weight: 600;
    color: #1e1909;
    margin-bottom: 16px;
  }
  .v-parallax__content .inner .guidebox .box span {
    display: inline-block;
    font-family: 'KBFGTextM';
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    height: 50px;
    margin-bottom: 34px;
  }
  .v-parallax__content .inner .guidebox .box div button {
    margin:0 !important;
    padding:0 !important;
    color:#1e1909 !important;
    background: none;
  }
  .v-parallax__content .inner .guidebox .box div button:hover {
    background: none;
  }
  .v-parallax__content .inner .guidebox .box div button i {
    color:#ffbc00;
  }
  
  .banr2 {
    position: absolute;
    width: 100%;
    margin-top:-298px;
    z-index: 2;
  }
  .banr2 .inner  {
    width: 1440px;
    min-height: 217px;
    margin: 0 auto;    
    background: #504842;
    border-radius: 4px;
    color:#fff;   
    padding:75px 80px;
  }
  .banr2 .inner  div {
    float: left;
  }
  .banr2 .inner .title p {  
    padding-left:110px;
    margin-right:100px; 
    height: 64px;
    text-align: left;
    font-family: 'KBFGTextL' !important;
    font-size: 24px;
    font-weight: 600;
    color:#fff;
    background: url(../../images/main_icon_06.png) left center no-repeat;
  }
  .banr2 .inner .title p span {
    font-family: 'KBFGTextL';
    font-weight: normal;
    font-size: 18px;
    color: #efefef;
  }
  
  .banr2 .inner button {margin:0 !important; }