@charset "utf-8";

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; 
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; 
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; 
  vertical-align: inherit;
}

* {
  padding: 0; 
  margin: 0;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:normal}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}

p{color:#1e1909}
a{color:#1e1909; text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
table{width:100%;border-collapse:collapse;border:0;border-spacing:0}
caption{visibility:hidden;overflow:hidden;width:0;height:0;font-size:0;line-height:0}

table, th, td, input, select, textarea, button {  
  color: inherit;
}
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}
body {
  width: 100%;
  font-family: 'KBFGTextM';
  font-size: 16px;
  font-weight: normal;
  color: #1e1909;
  background: #f4f3f2 !important;
}
.v-application--wrap {background: #f4f3f2 !important;}

a {
  color:inherit;
  text-decoration:none;
}
caption, legend {display:none;}
colgroup {visibility: hidden;}

::placeholder, .v-text-field ::placeholder {color:#d8d8d8 !important;}
input, .v-text-field input {
  font-family: 'KBFGTextM' !important;
}
input[type='checkbox'] {
  color: #ffbc00 !important;
}
.v-input--selection-controls__input input[role=checkbox] {
  color: #ffbc00;
}
i {margin:0 2px;}

hr {
  overflow: visible; 
  height: 0; 
  color: inherit; 
}
details,
main {
  display: block; 
}
summary {
  display: list-item; 
}
[hidden] {
  display: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0; 
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; 
}
pre {
  font-size: 1em; 
}
b,
strong { font-weight: 600; }
table {
  border-color: inherit; 
  text-indent: 0; 
}
input { border-radius: 0;}

[disabled] {
  cursor: default;
}
textarea {
  overflow: auto; 
  resize: vertical; 
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; }

optgroup {font-weight: bold;}
button {overflow: visible; }
button, select {text-transform: none; }
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
button,
html [type='button'], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}
/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}
dselect {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}
select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}
select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}
legend {
  display: none !important;
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit; 
}

img {border-style: none;}
progress {vertical-align: baseline;}

/*스크롤바*/
::-webkit-scrollbar { width: 5.2px; } /* 스크롤 바 */
::-webkit-scrollbar-track { background-color:#fff; } /* 스크롤 바 밑의 배경 */
::-webkit-scrollbar-thumb { background: #ddd; border-radius: 10px; } /* 실질적 스크롤 바 */
::-webkit-scrollbar-thumb:hover { background: #404040; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
::-webkit-scrollbar-thumb:active { background: #808080; } /* 실질적 스크롤 바를 클릭할 때 */
::-webkit-scrollbar-button { display: none; } /* 스크롤 바 상 하단 버튼 */