.login__bg {
    background: url('../../images/login_bg.png') center center no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.login__left {
    position: absolute;
    margin-left: 240px;
    margin-top: 221px;
    width: 650px;
    height: 340px;
}

.login__logo {
    margin-left: 240px;
    margin-top: 200px;
    width: 56px;
    height: 42px;
}

.login__title {
    font-family: 'KBFGTextM';
    font-size: 64px;
    font-weight: 600;
    line-height: 88px;
    height: 166px;
    margin-top: 68px;
    margin-left: 240px;
    color: #fff;
}

.login__disc {
    margin-top: 80px;
    margin-left: 240px;
    color: #fff;
    font-family: 'KBFGTextl';
    font-size: 22px;
}

.login__area {
    position: absolute;
    float: left;
    top: 179px;
    left: 1070px;
    width: 512px;
    height: 622px;
    
    background-color: #fff;

}
