.login__bg {
    background: url('../../images/login_bg1.png') center center no-repeat;
    background-size: cover;;
    width: 100%;
    min-width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
   
}

.login__left {
    position: relative;
    margin-left: 240px;
    margin-top: 221px;
    width: 650px;
    height: 340px;
}

.login__logo {
    margin-left: 240px;
    margin-top: 200px;
    width: 56px;
    height: 42px;
}

.login__main {
    position: fixed;
    width: 1340x;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.login__title {
    font-family: 'KBFGTextM';
    font-size: 64px;
    font-weight: 600;
    line-height: 88px;
    height: 166px;
    margin-top: 60px;
    margin-left: 240px;
    color: #fff;
}

.login__disc {
    margin-top: 80px;
    margin-left: 240px;
    color: #fff;
    font-family: 'KBFGTextl';
    font-size: 22px;
}

.login__area{
    position: absolute;
    float: left;
    top: 179px;
    left: 1070px;
    width: 512px;
    height: 622px;
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
}

/* .sso-log {
    display: none;
} */

.login__area__select {
    float: left;
    top: 60px;
    left: 56px;
    margin-top: 60px;
    margin-left: 56px;
}

.login__way {
    font-size: 16px;
    color: #1e1909;
}

.btn__login {
    font-family: KBFGTextM;
    font-weight: 600;
    font-size: 22px;
    color: #4d4d4d;
}

.login__area__desc {
    margin-top: 20px;
    margin-left: 56px;
    
}

.login__num {
    font-family: KBFGTextM;
    font-size: 18px;
    line-height: 18px;
    color: #968d83;
    margin-left: 25px;

}

.login__textfield {
    width: 400px;
}

.text-error {
    font-family: KBFGTextM;
    font-size: 11px;
    color: #dd3300;
    padding-left: -5px;
    padding-bottom: 10px;
}


.v-tab .login__route {
    color: #968d83;
    font-family: KBFGTextM;
    font-size: 18px;
}

.red {
   background-color:red; 
   width: 100px;
   height: 100px;
   display: none;
}

.blue {
    background-color:blue; 
    width: 100px;
    height: 100px;
}

/* Serve Main */
.sub_main_sec_support {
    position: relative;
    clear: both;
    margin-top: 120px;
    margin-bottom: 16px;
  }
  .sub_main_sec_support p.tit {
    font-family: 'KBFGDisplayM';
    font-size: 32px;
    font-weight: 600;
    color: #101010;
    padding:0 1px;
    position: absolute;
  }
  

.sub_main_support {
    width: 1440px;
    padding: 32px 50px;
    background: #fff;
    border-radius: 4px;
    height: 407px;
    width: 100%;
}

.sub_support_title > h6 {
    font-weight: 600;
    font-size: 32px;
    margin-top: 32px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 32px;
}

.sub_support_menual {
    display: flex;
    justify-content: space-between;
    width: 1248px;
    height: 200px;
    margin-left: 45px;
}

.sub_support_menual_content {
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-top: 48px;    
}

.sub_support_menu-1 {
    margin: 8px 0;
}
.sub_support_menu-2 {
    font-family: KBFGTextM;
    font-size: 16px;
    color: #757575;
    height: 94px;
}

.card_v-support {
    display: inline-block;
    width: 465px;
    height: 370px;
    padding: 32px 40px;
    border-radius: 4px;
    background: #fff;
  }
  .card_v-support {
    clear: both;
    font-family: "KBFGTextM";
    font-size: 16px !important;
  
  }
 .card_v-support {
    display: inline-block; 
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 12px;
    border-radius: 100px;
    background-color: #60584c;
    color:#fff;
    font-size: 14px;
  }
  .card_v-support {
    background-color: #efe5d8;
    color:#4d4d4d;
  }
  .card_v-support {
    clear: both;
    float: left;
    font-family: 'KBFGTextM';
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin: 24px 0;
    min-height: 64px;
  }
  .card_v-support {
    display: inline-block;
    clear: both;
    font-family: 'KBFGTextM';
    font-size: 16px;
    line-height: 26px;
    color: #757575; 
    min-width: 262px;
    max-width: 262px;
    min-height: 100px;
    max-height: 100px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .card_v-support {
    clear: both;
    font-family: 'KBFGTextM';
    font-size: 12px;
    margin-top: 24px;
  }
  .card_v-support {
    float: left;
    margin-right: 24px;
    font-size: 12px;
    cursor: pointer;
  }
  .card_v-support .v-icon:hover  {
    color:#ffbc00;
    -webkit-transform:rotate(-20deg);
      transform:rotate(-20deg);
  }

/* Support Servemain*/

.btn-plus {
    width: 1440px;
    height: 36px; 
    margin-bottom: 16px;
    
}

.btn-plus-item {
    float: right;
}

.tit_support {
    font-family: 'KBFGDisplayM';
    font-size: 32px;
    font-weight: 600;
    color: #101010;
    background: linear-gradient(to top, rgba(255, 204, 0, 0.4) 50%, transparent 50%);
    padding:0 1px;
    position: absolute;
}

.tit_support span {font-family: KBFGDisplayl;
}

.v-card_support {
    margin-bottom: 1.25%;
    background: #fff;
  }

.card_v_support {
    width: 464px;
    height: 183px;
    padding: 32px 40px;
    width: 376px;
    height: 60px;
}

.sub_main_area {
    width: 100%;
    height: 382px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_item_support {
    display: inline-block;
    width: 464px;
    height: 183px;
    padding: 32px 40px;
    border-radius: 4px;
    background: #fff;
    margin-bottom: 24px;
    
}

.card_item_support:hover {
    border: 1px solid #ffbc00;
    transition: all 300ms ease-in;
}

.keyword_support {
    clear: both;
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 12px;
    border-radius: 100px;
    background-color: #504842;
    color:#fff;
    font-size: 14px;
}

.cardtit_support {
    clear: both;
    float: left;
    font-family: 'KBFGTextM';
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin: 24px 0;
}

